#page_thumbs{
    margin: 30px 0;
}
#page_thumbs a{
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
}

@media only screen and (max-width: 430px){
    #additional-menu{
        padding-right: 10px;
    }
    #languages {
        text-align: right;
        padding: 0;
    }
    #languages ul{
        width: 100% !important;
    }
    #currency{
        text-align: right;
    }
    #currency_list{
        max-width: 40px;
        float: right;
    }
    #currency_list:after{
        display: table-cell;
        content: '';
        float: none;
        clear: both;
    }
    #currency_list a{
        display: block;
    }
}

.wedding_item_holder .description_short{
    margin: 20px 0;
}

.wedding_item_holder .description_block .item_title h1,
.wedding_item_holder .description_block .item_title h2,
.wedding_item_holder .description_block .item_title span {
    background: rgba(255, 255, 255, 0.7);
    font-size: 30px;
    text-transform: uppercase;
    padding: 15px;
    display: inline-block;
}