* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none; }

.no-padding {
  padding: 0 !important; }

html {
  height: 100%; }

body {
  font-family: "Century Gothic";
  min-height: 100%;
  position: relative;
  min-width: 320px; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

#ms-callback {
  background-image: url("/img/4master-show-callback-bg.png");
  height: inherit;
  background-repeat: no-repeat;
  background-position: center;
  padding: 230px 0; }
  #ms-callback select {
    color: #393185; }
  #ms-callback .input-wrap label.up-top {
    position: absolute;
    left: 100px;
    transition: all 0.3s ease-out;
    z-index: 3;
    font-size: 12px;
    font-style: italic;
    font-weight: 100; }
  #ms-callback .input-wrap input:focus + .up-top {
    top: -15px;
    left: 0px;
    font-size: 10px;
    font-style: italic;
    font-weight: 100; }
  #ms-callback .input-wrap .filled + .up-top, #ms-callback .input-wrap.textarea-wrap .filled + .up-top {
    top: -15px;
    left: 0px;
    font-size: 10px;
    font-style: italic;
    font-weight: 100; }
  #ms-callback label {
    padding: 5px;
    position: absolute;
    left: 139px;
    color: #393185;
    font-family: "Century Gothic";
    font-size: 18px; }
  #ms-callback .form-control:focus label {
    left: 180px;
    transition: 2s; }
  #ms-callback .form-control {
    width: 645px;
    margin: 20px auto;
    font-size: 20px;
    opacity: 0.9; }
  #ms-callback input[id='name']::-moz-placeholder {
    color: #393185;
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px; }
  #ms-callback input[id='name']::-webkit-input-placeholder {
    color: #393185;
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px; }
  #ms-callback input[id='name']:-ms-input-placeholder {
    color: #393185;
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px; }
  #ms-callback input[id='surname']::-moz-placeholder {
    color: #393185;
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px; }
  #ms-callback input[id='surname']::-webkit-input-placeholder {
    color: #393185;
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px; }
  #ms-callback input[id='surname']:-ms-input-placeholder {
    color: #393185;
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px; }
  #ms-callback select[id='age'] {
    color: #393185;
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px; }
  #ms-callback select[id='age'] {
    color: #393185;
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px; }
  #ms-callback select[id='age'] {
    color: #393185;
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px; }
  #ms-callback select[id='from'] {
    color: #393185;
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px; }
  #ms-callback select[id='from'] {
    color: #393185;
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px; }
  #ms-callback select[id='from'] {
    color: #393185;
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px; }
  #ms-callback .ms-callback-btn {
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    width: 320px;
    background-color: rgba(57, 49, 133, 0.9);
    color: white;
    font-size: 18px;
    font-family: "Century Gothic"; }

.wedding_item_holder {
  margin-top: 25px; }
  .wedding_item_holder .description_block:first-child {
    background: rgba(191, 190, 195, 0.88); }
  .wedding_item_holder .description_block:nth-child(4) {
    background: #D5D8C3; }
  .wedding_item_holder .description_block:nth-child(7) {
    background: #DFD5CC; }
  .wedding_item_holder .description_block:nth-child(10) {
    background: #E3DFE7; }
  .wedding_item_holder .description_block:nth-child(13) {
    background: #D0DBEB; }
  .wedding_item_holder .divider:last-child {
    display: none; }
  .wedding_item_holder .slick-slider .slick-arrow:before {
    color: black; }
  .wedding_item_holder .slick-slider ul.slick-dots {
    background: #fff; }
  .wedding_item_holder .divider {
    border: 1px solid gainsboro;
    text-align: center;
    height: 0;
    margin-top: 100px;
    margin-bottom: 100px; }
    .wedding_item_holder .divider img {
      margin-top: -20px; }
  .wedding_item_holder .wedding_slider {
    margin-top: 15px; }
    .wedding_item_holder .wedding_slider .slick-list {
      height: 325px;
      padding: 150px 78px !important;
      margin-top: -145px; }
    .wedding_item_holder .wedding_slider button.slick-next {
      background-image: url("/img/wd-leftside-arrow.png");
      background-repeat: no-repeat;
      background-size: 60%;
      top: 75%; }
      .wedding_item_holder .wedding_slider button.slick-next:before {
        content: "" !important; }
    .wedding_item_holder .wedding_slider button.slick-prev {
      background-image: url("/img/wd-rightside-arrow.png");
      background-repeat: no-repeat;
      background-size: 60%;
      top: 75%; }
      .wedding_item_holder .wedding_slider button.slick-prev:before {
        content: "" !important; }
    .wedding_item_holder .wedding_slider .slick-slide {
      display: block;
      width: 175px !important;
      height: 175px;
      margin: 0 10px;
      position: relative;
      left: -55px; }
      .wedding_item_holder .wedding_slider .slick-slide img {
        width: 100%;
        height: 100%; }
    .wedding_item_holder .wedding_slider .slick-current {
      position: relative;
      top: -146px;
      width: 330px !important;
      height: 330px !important; }
  .wedding_item_holder .description_block {
    /*    opacity: 0.4;*/
    background-repeat: no-repeat;
    background-position: center;
    background-color: #A8A7AC; }
    .wedding_item_holder .description_block .wd-bg-img {
      position: absolute;
      width: 655px;
      max-height: 400px;
      min-height: 395px;
      z-index: 0;
      left: 50%;
      margin-left: -327.5px;
      overflow: hidden;
      opacity: .5; }
    .wedding_item_holder .description_block .outer_block {
      background-color: rgba(255, 255, 255, 0.5);
      overflow: hidden;
      height: 395px; }
    .wedding_item_holder .description_block .item_title {
      margin-top: 70px; }
      .wedding_item_holder .description_block .item_title span {
        background: rgba(255, 255, 255, 0.7);
        font-size: 30px;
        text-transform: uppercase;
        padding: 15px; }
    .wedding_item_holder .description_block .item_description {
      margin: 10px 0;
      padding: 0 112px;
      /* font-size: 22px; */ }

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 804px;
  z-index: 2; }

#our-works-block {
  position: relative;
  width: 100%; }
  #our-works-block div {
    width: auto;
    position: absolute; }
  #our-works-block img {
    width: 310px;
    padding-top: 14px; }

.item-holder .item .additional p {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 72.8px;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 26px;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.master-show .our-works-header {
  color: #66737B;
  text-transform: uppercase;
  font-family: "Century Gothic";
  margin-top: 70px; }
.master-show .additional-description {
  margin-top: 25px;
  margin-bottom: 25px; }
.master-show .sertificate-block .sertificate-block-single {
  text-align: center; }
  .master-show .sertificate-block .sertificate-block-single p {
    color: #969AA3;
    padding: 5px 14px;
    font-size: 15px !important;
    margin-bottom: 0px; }
    .master-show .sertificate-block .sertificate-block-single p span {
      font-weight: bold; }
  .master-show .sertificate-block .sertificate-block-single img {
    width: 250px;
    height: auto; }
  .master-show .sertificate-block .sertificate-block-single .sertificate-btn {
    width: 221px;
    height: 23px;
    color: white;
    padding: 0;
    border-radius: 0px;
    background-color: #969AA3; }
.master-show .h2 {
  margin-bottom: 0px;
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 24px; }
.master-show .block-even {
  margin-top: 40px;
  float: right; }
  .master-show .block-even img {
    width: 376px;
    height: 250px; }
  .master-show .block-even p {
    text-align: right; }
  .master-show .block-even .description {
    padding-top: 0;
    font-family: "Century Gothic"; }
    .master-show .block-even .description .ms-button {
      color: white;
      width: 159px;
      height: 23px;
      background-color: #898479;
      margin-left: 25px;
      padding: 1px 12px;
      text-transform: uppercase;
      font-size: 11px;
      font-family: "Century Gothic";
      border-radius: 0px;
      float: right;
      margin-top: 38px; }
    .master-show .block-even .description h4 {
      text-transform: uppercase;
      margin-top: 0;
      text-align: right;
      font-family: "Century Gothic"; }
    .master-show .block-even .description p {
      font-family: "Century Gothic";
      font-size: 15px; }
.master-show .block-odd {
  margin-top: 40px;
  margin-bottom: 25px; }
  .master-show .block-odd img {
    width: 250px;
    height: auto; }
  .master-show .block-odd .description {
    font-family: "Century Gothic"; }
    .master-show .block-odd .description .ms-button {
      color: white;
      width: 159px;
      height: 23px;
      background-color: #898479;
      padding: 1px 12px;
      text-transform: uppercase;
      font-size: 11px;
      font-family: "Century Gothic";
      border-radius: 0px;
      margin-top: 18px; }
    .master-show .block-odd .description h4 {
      text-transform: uppercase;
      margin-top: 0; }

.contacts-description {
  padding-left: 0; }
  .contacts-description p {
    font-size: 18px; }
  .contacts-description .subheader {
    text-align: center !important; }
    .contacts-description .subheader .subheader-text {
      position: absolute;
      font-size: 14px;
      left: 30%;
      top: 43px;
      color: black;
      font-family: "Century Gothic"; }

.our-works-photos-holder {
  text-align: center;
  position: relative;
  width: 100%; }
  .our-works-photos-holder div {
    position: absolute;
    width: auto; }
    .our-works-photos-holder div img {
      width: 275px;
      padding-top: 20px; }

#subheader {
  overflow: hidden;
  position: relative;
  background: url("/img/4master-show-bg.png");
  min-height: 804px;
  background-repeat: no-repeat;
  background-size: cover; }
  #subheader .master-show-contacts {
    position: relative;
    text-align: center;
    z-index: 10; }
    #subheader .master-show-contacts i {
      color: white;
      float: left; }
    #subheader .master-show-contacts p {
      color: white;
      float: left;
      display: block;
      margin: 0 auto;
      position: relative;
      left: 42%; }
      #subheader .master-show-contacts p span {
        color: white !important; }
      #subheader .master-show-contacts p i {
        color: white; }
  #subheader video#bgvid {
    position: absolute;
    width: 100%;
    height: 133%; }
  #subheader .top_menu_sub {
    position: relative;
    z-index: 3; }
  #subheader button {
    position: relative;
    z-index: 3;
    color: gray;
    margin: 0 auto;
    display: block;
    margin-top: 70px;
    width: 370px;
    background: #94678C;
    height: 46px;
    opacity: .8;
    color: white;
    font-size: 24px;
    font-style: italic;
    font-family: "Century Gothic";
    border-radius: 0px;
    border: none; }
  #subheader .subheader-bottom {
    position: relative;
    z-index: 3;
    color: white;
    margin-top: 100px;
    font-size: 24px;
    width: 99%;
    padding-top: 5px; }
  #subheader .subheader-middle {
    position: relative;
    z-index: 3;
    height: auto;
    margin-top: 275px;
    padding-top: 41px;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-family: "Century Gothic"; }
    #subheader .subheader-middle span {
      color: #60AA45;
      font-size: 43px; }
  #subheader .subheader-middle.second {
    margin-top: 35px; }
    #subheader .subheader-middle.second p:first-child {
      display: block;
      margin: 0 auto;
      width: 42%;
      text-align: right; }
    #subheader .subheader-middle.second p:nth-child(2) {
      color: #60AA45;
      display: block;
      width: 50%;
      text-align: left;
      padding-left: 15px;
      /* padding-right: 25px; */
      float: left;
      padding-top: 3px; }
  #subheader .subheader-top {
    margin-top: 50px;
    margin-bottom: 90px;
    padding: 0;
    position: relative;
    z-index: 3; }
    #subheader .subheader-top img {
      width: 292px;
      height: auto;
      z-index: 999;
      top: -9px;
      position: relative;
      left: 4px; }
    #subheader .subheader-top span {
      font-size: 35px;
      font-style: italic;
      color: white;
      background: rgba(255, 255, 255, 0.3);
      height: 120px;
      display: inline-block;
      width: 772px;
      text-align: left;
      padding-top: 35px;
      padding-left: 15px;
      text-transform: lowercase;
      font-family: "Century Gothic"; }
    #subheader .subheader-top .second {
      font-size: 21px;
      height: 19px;
      padding: 0;
      margin: 0;
      position: absolute;
      background: transparent;
      top: 95%;
      right: -9%;
      font-style: normal;
      text-transform: uppercase; }

.row.subscribe .image-left {
  margin-top: 5px;
  float: left; }
.row.subscribe .desc-right span {
  float: left;
  font-size: 24px;
  font-weight: 600;
  margin-top: 41px;
  margin-left: 0; }
.row.subscribe .desc-right div {
  padding-left: 0; }
  .row.subscribe .desc-right div p {
    display: block;
    float: left; }
.row.subscribe .desc-right .desc-right-subsc-opt {
  float: left;
  list-style: none;
  margin-left: 90px; }
  .row.subscribe .desc-right .desc-right-subsc-opt li {
    font-size: 18px !important; }

.userform.form1 .fa.fa-bars {
  position: absolute;
  top: 32px;
  right: 30px;
  font-size: 20px;
  color: #5E5971; }

.userform.form2 .delivery div {
  width: 50%;
  float: left; }
  .userform.form2 .delivery div p {
    margin-right: 5px;
    display: block;
    float: left; }
  .userform.form2 .delivery div input[type='radio'] {
    display: block;
    float: left;
    width: 12%;
    height: 13px;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox; }
  .userform.form2 .delivery div input[type='radio']:focus {
    border: none;
    outline: none;
    box-shadow: none; }
.userform.form2 #date-time .clockpicker i.fa.fa-clock-o {
  position: absolute;
  top: 34px;
  margin-left: 155px;
  font-size: 18px;
  color: #5E5971; }
.userform.form2 #date-time .clockpicker label[for='time'] {
  position: absolute;
  top: -3px;
  font-family: Trebuchet MS;
  color: #5E5971; }

#total-block {
  margin-top: -96px; }
  #total-block .cart_count {
    padding: 5px;
    margin: 10px; }
    #total-block .cart_count span {
      font-size: 20px; }
  #total-block .cart_price {
    padding: 5px;
    margin: 10px; }
    #total-block .cart_price span {
      font-size: 20px; }
  #total-block .timepicker {
    display: none; }
  #total-block .datepicker {
    width: 100% !important; }

.callback-form {
  padding: 15px; }
  .callback-form .h3 {
    color: gray;
    border-bottom: 1px solid gainsboro !important;
    margin-bottom: 15px;
    padding: 15px; }

.top-header-links-holder ul {
  list-style: none; }
  .top-header-links-holder ul li.top-header-link {
    display: block;
    float: right;
    padding: 5px; }
    .top-header-links-holder ul li.top-header-link a {
      display: block;
      color: rgba(0, 0, 0, 0.5);
      font-size: 16px; }

.top_menu_holder .top_menu {
  border-bottom: 1px solid gainsboro; }
  .top_menu_holder .top_menu .header-contacts {
    padding-left: 28px; }
    .top_menu_holder .top_menu .header-contacts div i {
      padding-bottom: 3px; }
    .top_menu_holder .top_menu .header-contacts div p {
      display: block;
      float: left; }
      .top_menu_holder .top_menu .header-contacts div p i {
        padding-bottom: 3px; }

#upload-photo {
  display: block; }

.photo_flower_block:hover .photo_flower_block_inner {
  opacity: 1; }

.photo_flower_block:hover #main-page-img-sub {
  opacity: 0.1;
  transition: opacity 0.4s; }

.photo_flower_block {
  position: relative; }
  .photo_flower_block .photo_flower_block_inner {
    z-index: 10;
    display: none;
    position: absolute;
    width: 92%;
    top: 35px;
    color: white;
    font-family: "Century Gothic";
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.6s;
    height: 91%; }
    .photo_flower_block .photo_flower_block_inner i.fa {
      margin-left: 145px;
      font-size: 56px; }
    .photo_flower_block .photo_flower_block_inner div.text-center:first-child {
      margin-top: 85px; }

ul.lang-list {
  list-style: none; }
  ul.lang-list li {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase; }
    ul.lang-list li a {
      font-family: "Century Gothic";
      color: #2B2A29;
      font-size: 14px; }

#checkout-step #step3 {
  text-align: center;
  border: 1px solid gainsboro;
  padding: 15px;
  display: table;
  margin: 0 auto; }
  #checkout-step #step3 .row .col-sm-12 {
    text-align: left; }
    #checkout-step #step3 .row .col-sm-12 .form1 {
      text-align: center; }
      #checkout-step #step3 .row .col-sm-12 .form1 ul.dotted li {
        width: 100%; }
    #checkout-step #step3 .row .col-sm-12 .form2 {
      text-align: center; }

ul.fields.dotted {
  list-style: none; }

ul.fields.pad {
  list-style: none; }

.fa-arrow-circle-down:hover {
  cursor: pointer; }

.submit-button {
  transition: transform 0.5s;
  transform: rotate(-180deg); }

.hover .photo_flower_block_inner {
  display: block; }

.photo_flower_block:hover .photo_flower_block_inner {
  display: block; }

.photo_flower_block:hover img {
  transition: .6s; }

input[type=file].upload-button {
  display: block; }

.photo_flower_block:hover #upload-photo {
  display: block; }

input[type=submit].input-sumbit {
  display: block; }

.layer-main {
  position: absolute;
  top: 31px;
  left: 16px;
  width: 92%;
  height: 92%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 1s;
  z-index: 0; }

.photo_flower_block:hover .layer-main {
  opacity: 1; }

.main_page_item_holder {
  margin-top: 25px;
  margin-left: 0; }
  .main_page_item_holder a {
    text-decoration: none;
    color: black; }
    .main_page_item_holder a #main-page-img {
      border: 1px solid gainsboro; }

.item-holder {
  margin-top: 24px; }

div.content p img {
  width: 100% !important;
  height: auto !important; }

.right-side {
  padding-top: 20px; }
  .right-side h2 {
    margin-top: 5px;
    text-align: center;
    border-bottom: 1px solid; }

.left-side {
  padding-top: 40px; }
  .left-side .left-side-img-holder {
    margin-bottom: 15px; }
    .left-side .left-side-img-holder a#item-img {
      display: block; }
      .left-side .left-side-img-holder a#item-img img {
        width: 350px;
        height: 350px;
        display: block; }
    .left-side .left-side-img-holder a:focus {
      outline: none; }

.blog-page-holder {
  width: 70%;
  margin: 0 auto; }
  .blog-page-holder img {
    width: 100%; }

.back-blog-button-holder:hover {
  text-decoration: none !important; }

.back-blog-button {
  margin: 0 auto;
  margin-top: 75px;
  display: block;
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid black;
  color: black; }

.blog-content {
  margin-top: 25px; }
  .blog-content .blog-item-text p {
    margin-top: 30px; }
  .blog-content .blog-item-text h2 {
    margin-top: 0;
    color: black;
    margin-bottom: 0; }
  .blog-content .blog-item {
    margin-bottom: 20px; }
    .blog-content .blog-item .item-text-bottom a {
      padding: 0;
      color: darkgray;
      font-size: 18px; }
    .blog-content .blog-item .item-text-bottom a:hover {
      text-decoration: underline;
      color: black;
      transition: 0.2s; }
    .blog-content .blog-item .blog-img {
      width: 350px;
      height: 350px;
      border: 1px solid #bfbfbf; }

.promo {
  width: 50%; }
  .promo input[name="code"] {
    width: 72%;
    border-bottom: 1px solid; }
  .promo button {
    width: 25px;
    height: 22px; }

#cart-radio-grp {
  padding-top: 0 !important; }
  #cart-radio-grp label[class='control-label'] {
    color: #5E5971;
    font-size: 16px;
    font-family: "Century Gothic"; }
  #cart-radio-grp div {
    margin-bottom: -10px;
    padding: 0; }
    #cart-radio-grp div input[type='radio'] {
      display: block;
      float: left; }
    #cart-radio-grp div label {
      color: #5E5971;
      display: block;
      font-family: "Century Gothic";
      font-weight: 400;
      padding-left: 20px; }

.cart-wrapper {
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden; }
  .cart-wrapper .cart-row {
    padding: 5px;
    border-top: 1px solid gainsboro;
    height: 225px; }
    .cart-wrapper .cart-row .img-responsive {
      height: 200px;
      width: 180px; }
  .cart-wrapper .item .text-right {
    position: relative;
    top: -30px; }
  .cart-wrapper .item a.del {
    color: black; }
  .cart-wrapper .item h4 a {
    color: black;
    text-decoration: none; }
  .cart-wrapper .quantity {
    width: 12%; }
  .cart-wrapper .spinner:hover {
    cursor: pointer; }
  .cart-wrapper .plus.spinner {
    left: 35px;
    position: relative;
    top: -37px; }
  .cart-wrapper .minus.spinner {
    position: relative;
    top: 35px;
    left: 35px; }

#header-phone-block:hover {
  cursor: pointer; }

.top-slider {
  margin-bottom: 45px;
  padding: 0;
  padding-top: 0 !important; }
  .top-slider ul.slick-dots {
    top: 94%; }
    .top-slider ul.slick-dots li {
      width: 12px;
      height: 12px;
      border: 1px solid;
      color: white;
      border-radius: 50px; }
      .top-slider ul.slick-dots li button {
        color: transparent; }
      .top-slider ul.slick-dots li button:before {
        color: transparent !important; }
    .top-slider ul.slick-dots li.slick-active {
      background: white; }
      .top-slider ul.slick-dots li.slick-active button {
        visibility: hidden; }
      .top-slider ul.slick-dots li.slick-active button:before {
        color: transparent !important; }
    .top-slider ul.slick-dots li[aria-hidden="false"] button {
      background: white;
      border-radius: 50px; }
  .top-slider div {
    position: relative; }
    .top-slider div img {
      display: none; }
    .top-slider div .slick-slide img {
      display: block !important;
      width: 730px !important;
      height: 460px !important; }
    .top-slider div .first {
      top: 50%;
      left: 9%;
      width: 80%;
      font-size: 37px; }
    .top-slider div .second {
      font-size: 37px;
      top: 180px;
      left: 50px;
      background-color: rgba(122, 135, 68, 0.7);
      padding: 4px;
      color: #ececec; }
    .top-slider div .third {
      font-size: 37px;
      top: 270px;
      left: 126px;
      color: #88954F;
      padding: 4px;
      background-color: rgba(255, 255, 255, 0.5); }
    .top-slider div span {
      position: absolute;
      color: #ececec;
      font-size: 37px;
      padding: 8px;
      background-color: rgba(129, 129, 129, 0.8);
      text-transform: uppercase; }
  .top-slider div:first-of-type img {
    display: block !important; }
  .top-slider .slick-prev {
    display: none !important; }
  .top-slider .slick-next {
    display: none !important; }
  .top-slider .slick-list.draggable {
    height: auto; }

.bottom-slider {
  padding-top: 25px !important;
  margin-left: 4%; }
  .bottom-slider .col-lg-4:hover {
    box-shadow: #0a001f;
    border-color: silver; }
  .bottom-slider .col-lg-4 {
    padding: 2px;
    margin-outside: 2px; }
  .bottom-slider a {
    text-decoration: none;
    color: #696969; }
  .bottom-slider a:hover {
    text-decoration: none; }
  .bottom-slider .col-lg-4 {
    border: 1px solid transparent;
    padding: 5px; }
    .bottom-slider .col-lg-4 .size {
      margin-top: 5px;
      padding: 5px; }
    .bottom-slider .col-lg-4 .quantity {
      padding: 5px;
      width: 81%;
      margin: 0 auto;
      display: block;
      margin-bottom: 7px; }
    .bottom-slider .col-lg-4 a button {
      width: 53%;
      display: block;
      margin: 0 auto;
      font-size: 14px;
      font-weight: 500;
      color: black;
      text-transform: lowercase;
      background-color: #DFE3E6; }
  .bottom-slider div img {
    width: 255px !important;
    height: 255px !important;
    display: block;
    margin: 0 auto; }

.delivery-btn-holder a:hover {
  text-decoration: none; }
.delivery-btn-holder .delivery-btn {
  display: block;
  width: 100%;
  margin-top: 25px;
  height: 40px;
  color: white;
  font-size: 20px;
  background-color: #B7B7B7;
  text-transform: uppercase; }

.what-is {
  padding: 25px 34px 3px 36px !important; }

.cart-bg {
  background-image: url("/img/cart-bg.png");
  background-repeat: no-repeat; }

.cart-header {
  color: #94678C;
  font-family: 'Trebuchet MS';
  margin-bottom: 25px;
  margin-left: -85px; }

p.userform-subheader {
  display: block;
  margin-top: 30px; }

#cart-form {
  padding-top: 30px; }

.catalog-item-holder {
  padding-right: 0;
  padding-left: 0; }

.catalog-list {
  text-align: center; }
  .catalog-list .sort {
    margin-top: 10px; }
  .catalog-list .item-holder .item h3 {
    color: black;
    padding: 0;
    font-family: "Century Gothic";
    min-height: 30px !important;
    max-height: 30px;
    font-size: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .catalog-list .item-holder .item .additional {
    margin-top: 10px; }
    .catalog-list .item-holder .item .additional p {
      max-height: 31px;
      overflow: hidden;
      font-size: 11px;
      color: black; }
    .catalog-list .item-holder .item .additional button {
      width: 100%;
      background-color: #ABABAB;
      height: 27px;
      font-family: "Century Gothic";
      color: #fff; }
    .catalog-list .item-holder .item .additional .item_price {
      font-size: 18px;
      background-color: #F0EEF3;
      margin: 0;
      height: 31px;
      padding-top: 3px;
      color: black; }
  .catalog-list .img-wrap {
    width: 100%; }
  .catalog-list a {
    text-decoration: none;
    color: #000; }
    .catalog-list a .item_header {
      font-size: 20px;
      padding: 10px;
      color: rgba(105, 105, 105, 0.7); }

#share {
  display: inline-flex;
  margin-top: 15px;
  float: left; }
  #share span {
    padding-top: 2px;
    margin-right: 15px;
    font-size: 18px; }
  #share .ssk-count {
    padding-top: 0; }

.top_menu_items {
  float: right;
  margin-left: 10px;
  font-size: 18px;
  font-family: "Century Gothic"; }

.top_menu_sub {
  background: white;
  width: 100%;
  margin: 0 auto; }
  .top_menu_sub .subheader {
    margin-top: 5px;
    font-weight: bold;
    padding: 5px; }
  .top_menu_sub .header-contacts div p {
    display: block;
    float: left; }
  .top_menu_sub .header-contacts div i.btn {
    display: block;
    float: left;
    padding: 2px 3px !important; }

div#form-holder {
  padding: 5px; }
  div#form-holder h3 {
    font-size: 24px;
    font-family: "Century Gothic";
    display: block;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 15px; }
  div#form-holder form {
    margin-top: 30px; }
    div#form-holder form input {
      border-radius: 0;
      border: 1px solid gainsboro; }
    div#form-holder form button[type='submit'] {
      display: block;
      margin: 0 auto;
      width: 160px;
      height: 30px;
      color: black;
      background-color: transparent;
      border: 1px solid;
      margin-top: 10px; }

.header .col-lg-8 {
  text-align: center;
  margin-bottom: 20px; }

.col-lg-1 {
  margin: 0 10px; }

.header-contacts {
  margin-top: 5px; }
  .header-contacts p span {
    font-size: 14px !important; }

.logo-img {
  padding: 0; }

#languages {
  margin-top: 10px;
  text-align: right;
  height: 20px;
  width: 100%;
  padding-top: 10px;
  padding-right: 18px; }

#view-page .item_description p {
  padding: 15px 15px; }

#breadcrumb {
  color: silver;
  padding: 10px 15px;
  text-align: left; }
  #breadcrumb div {
    display: inline-block; }
  #breadcrumb a {
    font-size: 12px;
    text-decoration: none;
    color: silver; }

#currency {
  margin-top: 10px;
  text-align: right;
  padding-right: 0;
  padding-top: 0px;
  width: 100%;
  margin-bottom: 5px; }
  #currency a {
    font-family: "Century Gothic";
    font-size: 14px;
    margin: 0 1px;
    color: rgba(0, 0, 0, 0.5); }

#social-autorization {
  text-align: left;
  margin-top: 5px;
  padding-right: 40px; }
  #social-autorization a.auth-link:hover {
    text-decoration: none; }
  #social-autorization p {
    float: left; }

#social-autorization i {
  padding: 0 5px;
  color: black; }

#social-autorization .fa-facebook:hover {
  color: silver; }

#social-autorization .fa-vk:hover {
  color: silver; }

#social-autorization .fa-instagram:hover {
  color: silver; }

#additional-menu {
  margin-top: -50px;
  margin-bottom: 5px;
  font-size: 12px;
  color: silver; }

#menu {
  margin-top: 50px; }

#menu ul {
  width: 106%;
  height: auto; }

#menu ul > li > a {
  padding: 2px;
  width: 100%;
  font-family: "Century Gothic";
  color: #6b6b6b; }

#menu ul > li > a:hover {
  text-decoration: none;
  background: none; }

#menu ul > li > a:focus {
  text-decoration: none;
  background: none; }

#menu a {
  text-decoration: none;
  color: #6b6b6b; }

#menu .col-lg-2:hover {
  border-bottom: 1px solid black;
  transition: 2s; }

#menu .col-lg-5:hover {
  border-bottom: 1px solid black;
  transition: 2s; }

#menu .col-lg-3:hover {
  border-bottom: 1px solid black;
  transition: 2s; }

#currency img {
  width: 29px;
  height: 21px; }

#logo-image {
  width: 325px;
  height: auto;
  border: none;
  padding-top: 16px; }

.main-menu-holder {
  padding-bottom: 40px; }
  .main-menu-holder ul.nav {
    text-align: right; }
    .main-menu-holder ul.nav li {
      position: relative;
      display: inline-block;
      margin-left: 10px;
      font-size: 18px;
      font-family: "Century Gothic"; }

.active {
  display: inline-block;
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 0; }

#callback-btn-master-show:hover {
  text-decoration: none; }

#callback-btn-master-show:focus {
  text-decoration: none; }

#callback-btn {
  padding: 0px 3px;
  position: absolute;
  top: 0px;
  left: 160px; }

#callback-btn2 {
  padding: 0px 1px;
  transform: rotate(-455deg); }

#callback-btn:focus {
  border: none; }

.col-lg-8 {
  padding-top: 200px; }

#contacts {
  margin-top: 60px; }

#contacts .col-lg-10 {
  padding-left: 28px;
  width: 200%; }

#download-button {
  padding: 0 150px !important;
  margin-top: 50px; }

#download-button i:hover {
  cursor: pointer; }

#download-thing-1 {
  margin-top: 115px !important; }

#download-thing-2 {
  margin-top: 55px !important; }

#container {
  border-top: 1px solid #cdcdcd;
  overflow: hidden; }

.order-btn {
  transition: 1s;
  position: absolute;
  top: 160px;
  left: 300px;
  width: 70px;
  height: 70px;
  margin-left: 130px;
  margin-right: 53px;
  margin-bottom: 20px;
  background: transparent;
  border: 1px solid #4d4d4d;
  border-radius: 40px;
  padding: 12px;
  color: black;
  font-weight: bold;
  text-transform: uppercase; }

.order-btn:hover {
  background: #bfbfbf;
  transition: 0.2s; }

.some-button {
  visibility: hidden;
  transition: 1s;
  position: absolute;
  top: 75px;
  right: 300px;
  width: 70px;
  height: 70px;
  margin-left: 56px;
  margin-right: 145px;
  margin-bottom: 20px;
  background: transparent;
  border: 3px solid #4d4d4d;
  border-radius: 40px;
  padding: 12px;
  color: black;
  font-weight: bold;
  text-transform: uppercase; }

.some-button:hover {
  background: #bfbfbf;
  transition: 0.2s; }

#serve-icons {
  margin-left: 0; }

.img-wrap {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 250px; }

.img-wrap img {
  width: 250px;
  height: 250px;
  border: 1px solid #bfbfbf; }

.img-wrap:hover .order-btn {
  display: none;
  left: -25px;
  top: 130px; }

.img-wrap:hover .some-button {
  display: block;
  right: -53px; }

/*.order-btn:hover{*/
/*background: white;*/
/*border: 1px solid black;*/
/*transition: 0.2s;*/
/*color: black;*/
/*}*/
/*.some-button:hover{*/
/*background: white;*/
/*border: 1px solid black;*/
/*transition: 0.2s;*/
/*color: black;*/
/*}*/
.photo-download {
  border: 1px solid #e9e9e9;
  margin-top: 60px;
  height: 350px; }

.page-content {
  padding-top: 30px; }

#catalogue-price {
  font-size: 16px;
  font-weight: bold; }

#similar-preps #catalogue-price {
  font-size: 16px;
  font-weight: bold;
  padding: 0 90px !important; }

.row .col-lg-4 > img {
  width: 350px;
  height: 350px;
  border: 1px solid #bfbfbf; }

.row .col-lg-4 > img:hover {
  opacity: 0.8;
  transition: 0.5s;
  cursor: pointer; }

#row-1,
#row-2 {
  margin-top: 20px; }

#main-page-img {
  width: 100%;
  height: 350px; }

#main-page-img-sub {
  position: absolute;
  top: 31px;
  left: 15px;
  width: 265px;
  height: 350px;
  border: none;
  z-index: 1; }

#row-2 {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
  padding-bottom: 20px; }

#container .h3 {
  text-align: center;
  width: 100%;
  font-size: 21px; }

#srv-btns {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 120px;
  width: 88%; }

#srv-btns button:hover {
  background: #fefefe;
  background-size: 100%;
  transition: 0.2s;
  border: 1px solid black;
  color: #000; }

.srv-bnt-1 {
  width: 350px;
  height: 45px;
  margin: 15px;
  background: #52bdff;
  border: none;
  /*-webkit-border-radius: 5px;*/
  /*-moz-border-radius: 5px;*/
  /*border-radius: 5px;*/
  color: white;
  font-weight: bold; }

.srv-btn-2 {
  width: 350px;
  height: 45px;
  margin: 15px;
  background: #52bdff;
  border: none;
  /*-webkit-border-radius: 5px;*/
  /*-moz-border-radius: 5px;*/
  /*border-radius: 5px;*/
  color: white;
  font-weight: bold; }

#footer {
  margin-top: 100px;
  margin-bottom: 30px;
  width: 100%;
  border-top: 1px solid grey; }
  #footer #payment-icons .footer-payment-header {
    font-size: 18px;
    font-family: "Century Gothic";
    font-weight: 500; }

#footer .h3 {
  text-align: center;
  margin-bottom: 50px; }

#social {
  text-align: center; }
  #social div a i {
    color: black; }

#social-bar {
  margin-top: 13px;
  padding-top: 13px; }
  #social-bar #social i.fa {
    color: black; }

#footer .col-lg-1 {
  padding: 0px;
  margin: 0 14px; }

#payment-footer {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  font-family: "Century Gothic"; }

#payment-icons img {
  width: 35%;
  height: auto; }

#payment-icons {
  text-align: center; }

#social i:hover {
  opacity: 0.5;
  transition: 0.2s; }

#buy-btn {
  width: 251px;
  height: 27px;
  font-size: 18px;
  color: #fff;
  background-color: #ABABAB;
  border-radius: 0;
  padding: 0;
  margin-left: 15px; }

.footer-phone-block:hover {
  cursor: pointer; }

#buy-btn a {
  text-decoration: none;
  color: white; }

.fa-check-square {
  color: green; }

.fa-window-close {
  color: red; }

#flower-name {
  text-align: center;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  margin-top: 0 !important; }

#payment {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d5e2e3; }

#about-us {
  text-align: center; }

#about-us ul > li:before {
  content: '';
  list-style-image: url("../img/map-marker.png");
  width: 5px;
  height: 5px; }

#container .of-row img {
  margin-top: 30px;
  width: 400px;
  height: 400px; }

#container .h3.col-lg-6 {
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
  font-family: "Century Gothic"; }

#container .col-lg-6 .h3 {
  text-align: left;
  width: 100%; }

#container .col-lg-6 p {
  padding: 6px; }

#container .of-row {
  border-bottom: 1px solid #dadada; }

#portfolio {
  margin-bottom: 50px; }

#thumbs .slick-list .slick-track {
  width: 100% !important; }
  #thumbs .slick-list .slick-track .slick-slide {
    width: 125px !important; }

#portfolio .h3 {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  margin-bottom: 25px; }

#portfolio-image {
  padding: 15px;
  width: 100%;
  height: 100%; }

#portfolio-image:hover {
  opacity: 0.9;
  transition: 0.4s;
  background: #ffffff;
  border: none; }

#view-more {
  margin-left: 25px;
  float: left;
  width: 240px;
  height: 25px;
  background: #fefefe;
  border: 1px solid #d6d6d6;
  font-weight: bold;
  text-transform: uppercase;
  color: #797979; }

.menu-categories-holder {
  margin-top: 53px; }

#sidebar {
  width: 100%;
  margin-top: 20px; }

#sidebar li {
  border-bottom: 1px solid rgba(107, 107, 107, 0.44);
  text-align: left; }

#sidebar li > a {
  text-decoration: none;
  color: black;
  padding: 10px 0;
  font-family: "Century Gothic";
  font-size: 13px; }

#sidebar li.active a {
  background-color: #eee; }

.tabs {
  border: 0px solid black; }

.navbar {
  padding: 0 10px; }

.navbar-btn {
  border: 1px solid black;
  margin-top: 0px !important; }

#content-1 {
  min-width: 550px; }

#content-2 {
  min-width: 550px; }

#content-3 {
  min-width: 550px; }

#o-btn-1,
#o-btn-2,
#o-btn-3 {
  height: 35px;
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  background: white;
  font-weight: bold; }

.navbar-btn img {
  width: 100px;
  height: 100px; }

.img-tabs img {
  width: 100%;
  height: 450px; }

.navbar-image {
  padding: 0 45px;
  margin-top: 15px; }

#img-btn-1,
#img-btn-2,
#img-btn-3 {
  margin: 0 8px; }

.row .col-lg-3 img {
  width: 250px;
  height: 250px; }

.row-similar {
  margin-top: 5px;
  margin-bottom: 20px; }
  .row-similar .item-holder .item .additional p:first-child {
    display: none; }

.row-similar .h3 {
  margin-bottom: 10px;
  margin-top: 25px; }

.row-similar .order-btn-similar {
  transition: 0.5s;
  position: absolute;
  top: 175px;
  left: 300px;
  width: 150px;
  height: 35px;
  margin-left: 56px;
  margin-right: 53px;
  margin-bottom: 20px;
  background: #fefefe;
  border: 1px solid #000000;
  font-weight: bold;
  text-transform: uppercase; }

.img-wrap-similar:hover .order-btn-similar {
  display: block;
  left: 0;
  cursor: pointer; }

.img-wrap-similar {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 250px; }

.similar {
  text-align: left !important;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  background: #ABABAB;
  color: #FFF; }

.item_description p {
  display: inline-block;
  font-size: 16px;
  margin-top: -10px;
  padding-top: 15px; }
  .item_description p img {
    width: 100% !important;
    height: auto !important; }

.pagination-holder {
  width: 100%;
  clear: both; }
  .pagination-holder ul {
    margin-bottom: 0; }

#najavnist {
  text-align: left !important;
  font-size: 25px; }

#tsina {
  text-align: left !important;
  font-size: 25px;
  padding: 0; }
  #tsina span.price {
    color: #2B2A29; }
  #tsina p {
    margin-top: 4px !important;
    margin-right: 5px;
    display: block;
    float: left;
    font-size: 16px !important;
    padding: 0 !important;
    font-family: "Century Gothic"; }

#footer .col-lg-6 .col-lg-3 {
  width: 30%;
  padding: 10px;
  background: white;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center; }

#footer .col-lg-6 .col-lg-3:hover {
  background: grey;
  cursor: pointer;
  transition: 0.2s; }

#footer .col-lg-6:nth-child(2) {
  margin-top: 25px; }

.footer_number {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  float: right;
  text-align: right; }

.zoom {
  width: 450px; }

section .row {
  margin-bottom: 25px; }

#blog-content {
  padding: 0 15px; }

#blog-content .h3 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold; }

#similar-preps .row-similar div.item h3 {
  min-height: 30px;
  font-size: 22px; }

#similar-preps {
  padding: 0 !important; }
  #similar-preps .item-holder {
    text-align: center; }
    #similar-preps .item-holder .img-wrap {
      margin: 0 auto; }
    #similar-preps .item-holder .item_header {
      font-size: 22px;
      font-weight: 500; }
    #similar-preps .item-holder .item .additional .item_price {
      font-size: 18px;
      background-color: #F0EEF3;
      margin: 0;
      height: 31px;
      padding-top: 3px;
      width: 86%;
      margin-left: 23px; }
    #similar-preps .item-holder .item .additional a button {
      width: 86%;
      background-color: #ABABAB;
      height: 27px;
      font-family: "Century Gothic";
      color: #fff;
      display: block;
      margin: 0 auto;
      margin-left: 23px; }
    #similar-preps .item-holder .item .additional a:hover {
      text-decoration: none; }

#similar-preps .row {
  padding: 0 14px; }

#h3-blogs {
  font-weight: bold;
  color: saddlebrown;
  margin-bottom: 25px;
  text-transform: uppercase; }

#blog-inner .col-lg-12 img {
  width: 1000px; }

#container .col-lg-12 p {
  margin-top: 5px;
  font-size: 15px; }

#container .col-lg-12 ul > li {
  margin: 10px 4px;
  font-size: 16px; }

#container .col-lg-12 {
  margin: 10px 0; }

#container .col-lg-12 .btn-danger {
  width: 250px; }

#back-btn {
  padding: 0 445px !important;
  margin-top: 25px !important;
  margin-bottom: 20px !important; }

#m-s-button-2 {
  margin-right: 50px;
  width: 30%;
  float: right; }

#m-s-button-1 {
  margin-left: 50px;
  width: 30%;
  float: left; }

#m-s-buttons {
  margin-top: 20px; }

#gallery-img {
  width: 350px;
  height: 350px; }

#inner-img {
  width: 450px !important;
  height: 450px !important; }

#purchase-desc {
  margin: 0 !important; }

#desc-1 {
  font-weight: bold;
  font-size: 16px;
  padding: 0 !important; }

#desc-2 {
  margin-top: 50px;
  margin-left: 0 !important;
  padding: 0 !important; }

#desc-3 {
  margin-top: 35px; }

#datetimepicker {
  width: 100%; }

#purchase-info p {
  padding: 15px 0 !important;
  margin-left: 0 !important; }

.asd {
  position: relative; }

.asd .glyphicon-time {
  position: absolute;
  right: 20px;
  top: 30px; }

#confirm-btn {
  width: 445px;
  background-color: #94678C;
  font-family: 'Trebuchet MS';
  color: white;
  text-transform: uppercase; }

.clockpicker {
  float: left !important; }

.in-inner-block {
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cccccc; }

.total {
  font-weight: bold;
  font-size: 16px; }

.fa-ban:hover {
  color: #3875ff;
  cursor: pointer; }

.fa-eye {
  color: slategray; }

.fa-shopping-cart {
  color: slategray; }

#upload-photo {
  width: 500px;
  padding: 10px; }

#callback-form .h3 {
  border-bottom: 2px solid #cdd3eb;
  text-align: center;
  margin-bottom: 25px;
  padding: 15px;
  color: darkgray; }

#callback-name {
  margin-bottom: 25px;
  height: 50px; }

#callback-number {
  margin-bottom: 35px;
  height: 50px; }

#bin {
  padding-top: 0 !important; }

#purchase-desc {
  padding-top: 0 !important; }

#hidden-2 {
  float: right; }

#hidden-1 {
  font-size: 18px;
  font-family: inherit; }

#mp-callback-form .h3 {
  color: gray;
  margin-bottom: 40px;
  padding: 15px; }
#mp-callback-form .form-group input[type="text"] {
  border: 1px solid gainsboro;
  margin-bottom: 30px; }
#mp-callback-form button {
  width: 60%;
  display: block;
  margin: 0 auto;
  border: 1px solid; }

ul.language_bar_chooser.lang-list {
  width: 110% !important; }

div#step2 .cart-bg div.cart-left-side .userform.form1 input[id='datetimepicker4'] {
  border-radius: 0; }
div#step2 .cart-bg div.cart-left-side .userform.form1 div.form-group input {
  border-radius: 0; }
div#step2 .cart-bg div.cart-left-side .userform.form1 div.form-group select {
  border-radius: 0; }
div#step2 .cart-bg div.cart-right-side .userform.form2 #date-time .clockpicker input {
  border-radius: 0; }
div#step2 .cart-bg div.cart-right-side .userform.form2 .delivery {
  margin-bottom: 58px; }
div#step2 .cart-bg div.cart-right-side .userform.form2 .form-group input {
  border-radius: 0; }
div#step2 .cart-bg div.cart-right-side .userform.form2 .form-group input[id='receiver'] {
  width: 10%;
  height: 15px; }
div#step2 .cart-bg div.cart-right-side .userform.form2 .form-group textarea {
  border-radius: 0; }
div#step2 .cart-bg button {
  border-radius: 0; }

@media only screen and (min-width: 1630px) {
  #subheader video#bgvid {
    top: -60px;
    width: 100% !important; } }
@media only screen and (max-width: 1300px) {
  #subheader video#bgvid {
    top: -140px;
    width: 125%;
    height: 151%; } }
@media only screen and (max-width: 1299px) {
  .top_menu_sub .header-contacts {
    padding: 2px 0 0 0; }
  .top_menu_sub #social-autorization {
    padding-right: 10px; } }
@media only screen and (min-width: 1200px) {
  .header .header-row .top_menu_holder .container .top_menu .header-contacts p {
    width: 83%;
    float: left; }

  .master-show .sertificate-block .sertificate-block-single:first-child {
    margin-left: 14%; }

  #subheader video#bgvid {
    top: -210px;
    width: 123%;
    height: 180%; } }
@media only screen and (max-width: 1199px) {
  #similar-preps .item-holder .item .additional a button {
    margin-left: 0; }

  #thumbs .slick-list .slick-track .slick-slide {
    width: 105px !important; }

  .photo_flower_block .layer-main {
    top: 29px;
    width: 87%; }
  .photo_flower_block .photo_flower_block_inner i.fa {
    margin-left: 113px; }
  .photo_flower_block .photo_flower_block_inner div.text-center {
    width: 95%;
    font-size: 20px; }
  .photo_flower_block .photo_flower_block_inner div.text-center:first-child {
    margin-top: 45px; }

  #logo-image {
    padding-top: 10px; }

  #languages {
    margin-top: 4px;
    padding-right: 9px; }

  .wedding_item_holder .description_block .wd-bg-img {
    width: 47.5%;
    height: 12%;
    left: 53%;
    max-height: 395px; }
  .wedding_item_holder .wedding_slider .slick-current {
    width: 175px !important;
    height: 175px !important;
    top: 0; }
  .wedding_item_holder .wedding_slider .slick-slide img {
    width: 100%;
    height: 100%; }

  .blog-content .blog-item .blog-item-img a img {
    width: 100%;
    height: auto; }

  #cart form#checkout-form #step2 .cart-bg .cart-right-side .userform.form2 #date-time div.clockpicker:nth-child(2) {
    margin-left: 5px !important; }
  #cart form#checkout-form #step2 .cart-bg .cart-right-side .userform.form2 div button#confirm-btn {
    width: 100%; }

  #similar-preps .row-similar .item-holder .item .additional p.item_price {
    margin-left: 0;
    width: 100%; }
  #similar-preps .row-similar .item-holder .item .additional a {
    display: block;
    width: 100%; }
    #similar-preps .row-similar .item-holder .item .additional a button {
      width: 100%;
      padding: 0; }

  .top-slider {
    height: 590px;
    float: none;
    margin: 0 auto; }
    .top-slider div span {
      font-size: 20px; }
    .top-slider div .slick-slide img {
      width: 597px !important;
      height: 330px !important; }

  .what-is {
    float: none;
    margin: 0 auto;
    padding: 25px 0 3px 0 !important; }

  .bottom-slider {
    float: none;
    margin: 0 auto; }
    .bottom-slider div img {
      height: auto !important; }

  .catalog-item-holder .item-holder .item .image.img-wrap {
    height: 221px; }
    .catalog-item-holder .item-holder .item .image.img-wrap a img {
      width: 221px;
      height: 221px; }

  .main_page_item_holder a div.h3 {
    font-size: 17px !important; }

  #main-page-img {
    width: 282px;
    height: 282px; }

  #menu {
    margin-top: -10px; }

  #additional-menu {
    margin-top: -92px; }

  .main-menu-holder {
    padding-top: 0; }

  .header .header-row .top_menu_holder .container .top_menu .header-contacts {
    padding-left: 0; }
    .header .header-row .top_menu_holder .container .top_menu .header-contacts p {
      width: 92%;
      float: left; }

  #social {
    padding: 0;
    margin-top: 10px; }

  #subheader video#bgvid {
    display: none; }
  #subheader .subheader-middle {
    margin-top: 170px; }

  .layer {
    height: 1245px; } }
#ms-callback {
  width: 910px;
  height: 750px; }

#certificate-form {
  padding: 15px; }

@media only screen and (max-width: 1032px) {
  .master-show .sertificate-block .sertificate-block-single .sertificate-btn {
    width: 100%; }
  .master-show .sertificate-block .sertificate-block-single img {
    width: 100%;
    height: auto; }
  .master-show .block-even img {
    width: 100%;
    height: auto; }
  .master-show .block-odd img {
    width: 100%;
    height: auto; }

  #certificate-form {
    padding: 15px; }

  form#ms-callback {
    width: 750px; }

  #subheader .subheader-top img {
    width: 220px; }
  #subheader .subheader-top span {
    font-size: 33px;
    font-style: italic;
    color: white;
    background: rgba(255, 255, 255, 0.3);
    height: 105px;
    display: inline-block;
    width: 555px;
    text-align: left;
    padding-top: 30px;
    padding-left: 15px;
    text-transform: lowercase;
    font-family: "Century Gothic"; }
  #subheader .subheader-middle p {
    font-size: 30px; }
    #subheader .subheader-middle p span {
      font-size: 33px; }
  #subheader .subheader-middle.second {
    margin-top: 10px; }
    #subheader .subheader-middle.second p {
      font-size: 30px; }
      #subheader .subheader-middle.second p span {
        font-size: 33px; } }
@media only screen and (max-width: 995px) {
  .wedding_item_holder .description_block .wd-bg-img {
    left: 60%; }
  .wedding_item_holder .wedding_slider .slick-slide img {
    height: 150px;
    width: 150px; }

  #cart form#checkout-form #step2 .cart-bg .cart-right-side .userform.form2 p.userform-subheader {
    display: none; }
  #cart form#checkout-form #step2 .cart-bg .cart-right-side .userform.form2 #date-time div.clockpicker:nth-child(2) {
    margin-left: 0 !important;
    margin-top: 7px !important;
    margin-bottom: 18px !important; }
    #cart form#checkout-form #step2 .cart-bg .cart-right-side .userform.form2 #date-time div.clockpicker:nth-child(2) i {
      top: 75px; }
  #cart form#checkout-form #step2 .cart-bg .cart-right-side .userform.form2 div button#confirm-btn {
    width: 100%; }

  .catalog-list .menu-categories-holder ul li {
    text-align: center !important; }

  #footer #payment-icons .footer-payment-header p {
    margin: 0 0 8px; }
  #footer .footer-phone-block span {
    margin-left: 0; }
  #footer #social-bar #social div {
    margin: 0; }

  .master-show .block-odd div.description h4, .master-show .block-odd div.description p {
    margin: 0 0 1px; }
  .master-show .block-odd div.description .ms-button {
    margin-top: 12px; }
  .master-show .block-even div.description h4, .master-show .block-even div.description p {
    margin: 0 0 1px; }
  .master-show .block-even div.description .ms-button {
    margin-top: 33px; }

  .top_menu .header-contacts p {
    width: 80% !important; }

  .top-header-links-holder {
    padding-left: 0; }
    .top-header-links-holder ul li {
      float: left !important; }
    .top-header-links-holder ul li:first-child {
      padding-left: 0; }

  #social-autorization p {
    float: left; }

  .top_menu_sub .subheader {
    padding-top: 1px; }
  .top_menu_sub .header-contacts {
    padding: 2px 0 0 0; }

  .catalog-item-holder .item-holder {
    margin-left: 6%;
    width: 40%; }
    .catalog-item-holder .item-holder .item .image.img-wrap a img {
      width: 100%; } }
@media only screen and (max-width: 990px) {
  #thumbs .slick-list .slick-track .slick-slide {
    margin-left: 8px; }

  #similar-preps .item-holder {
    width: 40%; }

  .subscribe img {
    width: 100% !important;
    height: auto !important; }

  .bottom-slider div img {
    width: 100% !important; }

  .slick-slider {
    width: 100%; }
    .slick-slider .slick-list .slick-track .slick-slide img {
      width: 100% !important;
      height: auto; }

  #main-page-img-sub {
    width: 100%;
    height: 210px; }

  .photo_flower_block div.h3 {
    font-size: 15px; }
  .photo_flower_block .layer-main {
    width: 220px;
    top: 33px;
    padding: 0 15px;
    left: 0;
    margin: 0px 15px; }
  .photo_flower_block .photo_flower_block_inner span {
    width: 100%;
    display: block;
    position: relative;
    text-align: center; }
    .photo_flower_block .photo_flower_block_inner span i.fa {
      margin: 0; }
  .photo_flower_block .photo_flower_block_inner div.text-center {
    font-size: 15px; }
  .photo_flower_block .photo_flower_block_inner div.text-center:first-child {
    margin-top: 15px; }

  #footer .footer-phone-block span {
    font-size: 17px; }

  .main_page_item_holder a div.h3 {
    font-size: 13px !important; }

  #languages {
    margin-top: 16px; }

  .main-menu-holder {
    float: left;
    text-align: right; }
    .main-menu-holder ul li {
      font-size: 18px;
      padding-top: 10px;
      float: left; }

  #main-page-img {
    width: 210px;
    height: 210px; }

  img#logo-image {
    width: 270px;
    padding-right: 20px; }

  .header-contacts {
    padding: 0 !important;
    font-size: 13px; }
    .header-contacts p {
      padding-top: 3px; }
    .header-contacts #callback-btn2 {
      padding: 5px 3px; }

  #social-autorization {
    padding: 0;
    padding-left: 25px; } }
@media only screen and (max-width: 780px) {
  #subheader .subheader-top img {
    width: 200px; }
  #subheader .subheader-top span {
    font-size: 33px;
    font-style: italic;
    color: white;
    background: rgba(255, 255, 255, 0.3);
    height: 95px;
    display: inline-block;
    width: 430px;
    text-align: left;
    padding-top: 26px;
    padding-left: 15px;
    text-transform: lowercase;
    font-family: "Century Gothic"; } }
@media only screen and (max-width: 767px) {
  #thumbs {
    width: 50%;
    margin: 0 auto; }

  .left-side .left-side-img-holder #item-img img {
    margin: 0 auto; }

  #similar-preps .item-holder {
    margin-left: 45px; }

  .photo_flower_block .layer-main {
    width: 271px;
    height: 90%; }
  .photo_flower_block .photo_flower_block_inner div.text-center {
    width: 100%; }
  .photo_flower_block .photo_flower_block_inner div.text-center:first-child {
    margin-top: 55px; }

  .wedding_item_holder .wedding_slider button {
    display: none !important; }
  .wedding_item_holder .description_block .wd-bg-img {
    width: 65%;
    height: 12%;
    left: 19%;
    display: block;
    margin: 0 auto; }

  form#ms-callback {
    width: 450px; }

  .blog-content .blog-item .blog-item-img a img {
    width: 105px;
    height: auto; }
  .blog-content .blog-item .blog-item-text a h2 {
    font-size: 20px; }

  #cart form#checkout-form #step2 .cart-bg .cart-right-side .userform.form2 p.userform-subheader {
    display: none; }
  #cart form#checkout-form #step2 .cart-bg .cart-right-side .userform.form2 #date-time div.clockpicker:nth-child(2) {
    margin-left: 18px !important;
    margin-top: 0px !important;
    margin-bottom: 18px !important; }
    #cart form#checkout-form #step2 .cart-bg .cart-right-side .userform.form2 #date-time div.clockpicker:nth-child(2) i {
      top: 34px; }
  #cart form#checkout-form #step2 .cart-bg .cart-right-side .userform.form2 div button#confirm-btn {
    width: 100%; }

  div#menu .main-menu-holder .dropdown.visible-xs-block {
    text-align: center; }
    div#menu .main-menu-holder .dropdown.visible-xs-block button {
      width: 170px;
      height: 29px;
      margin-bottom: 10px;
      padding: 3px;
      background: transparent;
      border: 1px solid;
      border-radius: 0px; }

  .top_menu .header-contacts p {
    width: 75% !important; }

  .top-slider {
    width: 100% !important; }

  .main_page_item_holder {
    margin-left: 5%; }

  #main-page-img {
    width: 271px;
    height: 271px; }

  .top-header-links-holder ul li.top-header-link {
    width: 33%;
    text-align: center; }

  #social-autorization {
    padding-left: 125px; }

  #languages {
    text-align: left;
    padding: 5px 0 0 14px; }

  .header-contacts {
    text-align: center; }
    .header-contacts p {
      display: block;
      float: left;
      width: 89%;
      text-align: right; }
    .header-contacts i {
      float: left; }

  .top_menu .header-contacts p {
    width: 85% !important; }

  #main-page-img-sub {
    width: 67%;
    height: 272px; }

  #additional-menu {
    padding-right: 33px; }

  #footer #payment-icons .footer-payment-header img {
    width: 50%; }
  #footer .footer-phone-block span.footer_number {
    font-size: 15px;
    padding-top: 15px;
    display: block;
    margin: 0 auto;
    float: none;
    text-align: -webkit-center; }
    #footer .footer-phone-block span.footer_number p span {
      font-size: 15px; }

  .master-show .sertificate-block .sertificate-block-single:last-child {
    margin-top: 15px; }

  #subheader .master-show-contacts p {
    left: 31%; }
  #subheader .subheader-top img {
    width: 230px;
    padding-top: 7px; }
  #subheader .subheader-top span {
    font-size: 28px; }
  #subheader .subheader-top .second {
    top: 90%;
    right: -25%; } }
@media only screen and (max-width: 730px) {
  .wedding_item_holder .wedding_slider .slick-slide img {
    width: 100px;
    height: 100px; }

  #menu {
    margin-top: 0; }

  .main-menu-holder {
    padding-top: 0; }
    .main-menu-holder ul li.top_menu_items {
      margin-left: 10px;
      font-size: 17px; }

  #additional-menu {
    margin-top: -90px; }

  .master-show .sertificate-block .sertificate-block-single img {
    width: 185px; } }
@media only screen and (max-width: 676px) {
  #callback-btn-master-show button {
    margin-bottom: 30px; }

  #callback-btn-certificate3 {
    width: 33%; }

  #subheader .subheader-middle {
    margin-top: 300px; }
  #subheader .subheader-top img {
    width: 325px; }
  #subheader .subheader-top span {
    display: block;
    float: right;
    position: relative;
    width: 100%; }

  .top_menu .header-contacts p {
    width: 85% !important; }

  div#menu .main-menu-holder div.dropdown ul.dropdown-menu li {
    width: 45%; }

  .image-left img {
    width: 281px !important;
    height: auto; }

  .top-slider div .slick-slide img {
    width: 100% !important; }

  #main-page-img {
    width: 233px;
    height: 233px; }

  #footer .col-lg-6:nth-child(2) {
    padding-right: 5px; }

  .main-menu-holder div.dropdown ul.dropdown-menu {
    width: 100%;
    height: 213px; }
    .main-menu-holder div.dropdown ul.dropdown-menu li.top_menu_items {
      margin-left: 0;
      width: 100%;
      text-align: center;
      padding: 12px;
      border-bottom: 1px solid gainsboro; }

  #main-page-img-sub {
    height: 230px; }

  .photo_flower_block .layer-main {
    width: 233px; } }
@media only screen and (max-width: 633px) {
  #footer #social div a i {
    font-size: 24px; }
  #footer .footer-phone-block span.footer_number p {
    font-size: 14px; }

  .master-show .sertificate-block .sertificate-block-single p {
    padding: 0; }
  .master-show .sertificate-block .sertificate-block-single img {
    width: 160px; }

  #subheader .subheader-top img {
    width: 175px; }
  #subheader .subheader-top span {
    font-size: 27px;
    font-style: italic;
    color: white;
    background: rgba(255, 255, 255, 0.3);
    height: 58px;
    display: inline-block;
    width: 400px;
    text-align: left;
    padding-top: 0px;
    padding-left: 10px;
    text-transform: lowercase;
    font-family: "Century Gothic"; } }
@media only screen and (max-width: 600px) {
  .main-menu-holder ul li.top_menu_items {
    margin-left: 7px; } }
@media only screen and (max-width: 583px) {
  .wedding_item_holder .description_block .item_description {
    padding: 0 10px; }

  .top_menu .header-row .top_menu_holder .top_menu .header-contacts {
    width: 60%; }
    .top_menu .header-row .top_menu_holder .top_menu .header-contacts p {
      width: 85% !important; }

  #social-autorization {
    width: 40%;
    margin-left: 0;
    float: right; }

  #similar-preps .item-holder {
    width: 60%;
    margin: 0 auto; }

  #buy-btn {
    margin-left: 0; }

  .right-side {
    text-align: center; }
    .right-side #tsina {
      text-align: center !important; }
      .right-side #tsina p {
        float: none; }

  #thumbs {
    width: 65%; }

  #share {
    float: none; }

  .catalog-item-holder .item-holder {
    float: left; }
    .catalog-item-holder .item-holder .item .image.img-wrap {
      height: 175px; }
      .catalog-item-holder .item-holder .item .image.img-wrap a img {
        width: 100%;
        height: 100%; }

  .bottom-slider div {
    width: 100%; }

  .top-slider div .third {
    top: 165px;
    left: 110px; }
  .top-slider div .second {
    top: 100px; }

  .item-holder {
    width: 80%;
    float: none;
    margin: 0 auto; }
    .item-holder .item .image a img {
      width: 220px;
      height: auto; }

  .master-show .sertificate-block .sertificate-block-single:last-child {
    margin-top: 15px; }

  #subheader button {
    width: 75%; }
  #subheader .subheader-top {
    margin-bottom: 30px; }
  #subheader .subheader-middle {
    margin-top: 200px; }
  #subheader .subheader-top img {
    width: 200px; }
  #subheader .subheader-top span {
    font-size: 23px;
    font-style: italic;
    color: white;
    background: rgba(255, 255, 255, 0.3);
    height: 77px;
    display: inline-block;
    width: 55%;
    text-align: left;
    padding-top: 0px;
    padding-left: 10px;
    text-transform: lowercase;
    font-family: "Century Gothic"; }
  #subheader .master-show-contacts {
    float: left; }

  .wedding_item_holder .wedding_slider .slick-slide img {
    width: 100%;
    height: 100%; }
  .wedding_item_holder .description_block .wd-bg-img {
    width: 100%;
    left: 0; } }
@media only screen and (max-width: 564px) {
  #main-page-img-sub {
    width: 24%;
    left: 137px; }

  .photo_flower_block .layer-main {
    width: 250px;
    left: 123px;
    top: 29px; }

  .wedding_item_holder .wedding_slider .slick-slide img {
    width: 100%;
    height: 100%;
    padding: 0; }

  div#menu .main-menu-holder div.dropdown ul.dropdown-menu li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gainsboro; }

  .main_page_item_holder {
    width: 100%;
    margin-left: 0; }

  #main-page-img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto; }

  #social-autorization {
    padding-left: 50px; } }
@media only screen and (min-width: 501px) {
  .header-contacts p.visible {
    display: none;
    padding: 0; } }
@media only screen and (max-width: 500px) {
  #thumbs {
    width: 350px; }

  .cart-header {
    font-size: 23px;
    width: 100%;
    text-align: right;
    margin-left: 0; }

  .row.top_menu #social-autorization {
    width: 45%;
    margin-left: 0; }
  .row.top_menu .header-contacts {
    width: 45%; }
    .row.top_menu .header-contacts p {
      display: none;
      width: 70% !important; }
    .row.top_menu .header-contacts p.visible {
      display: block; } }
@media only screen and (max-width: 433px) {
  #subheader .subheader-top .second {
    right: -15%; }
  #subheader .subheader-top img {
    width: 190px; }

  .top-slider div .second {
    top: 185px !important; }

  .wedding_item_holder .description_block .item_description {
    padding: 15px; }

  .catalog-item-holder .item-holder {
    margin-left: 10%;
    float: left;
    width: 75%; }
    .catalog-item-holder .item-holder .item .image.img-wrap {
      height: auto; }
      .catalog-item-holder .item-holder .item .image.img-wrap a img {
        width: 100%;
        height: auto; }

  #cart form#checkout-form #step2 .cart-bg .cart-right-side .userform.form2 p.userform-subheader {
    display: none; }
  #cart form#checkout-form #step2 .cart-bg .cart-right-side .userform.form2 #date-time div.clockpicker:nth-child(1) {
    width: 100%;
    margin-bottom: 15px; }
    #cart form#checkout-form #step2 .cart-bg .cart-right-side .userform.form2 #date-time div.clockpicker:nth-child(1) i {
      left: 330px;
      margin-left: 0; }
  #cart form#checkout-form #step2 .cart-bg .cart-right-side .userform.form2 #date-time div.clockpicker:nth-child(2) {
    margin-left: 0 !important;
    margin-top: 0px !important;
    margin-bottom: 18px !important;
    width: 100%; }
    #cart form#checkout-form #step2 .cart-bg .cart-right-side .userform.form2 #date-time div.clockpicker:nth-child(2) i {
      top: 83px;
      left: 175px; }
  #cart form#checkout-form #step2 .cart-bg .cart-right-side .userform.form2 div button#confirm-btn {
    width: 100%; } }
@media only screen and (max-width: 420px) {
  .top_menu_sub .header-contacts {
    width: 100%; }

  #date-time div.clockpicker i {
    display: none; }

  #upload-photo {
    width: 300px; }
    #upload-photo div.form-group label[for='somename'] {
      display: block;
      float: left; }
    #upload-photo div.form-group input[type='file'] {
      margin-right: 10px;
      padding: 2px; }

  #mp-callback-form {
    width: 300px; }

  .top-slider {
    height: 590px; }
    .top-slider div .slick-slide img {
      width: 100% !important;
      height: 270px !important; }

  .item-holder {
    width: 100%;
    float: none;
    margin: 0 auto; }
    .item-holder .item .image a img {
      width: 220px;
      height: auto; }

  #footer #payment-icons .footer-payment-header img {
    width: 100%; }

  .master-show .sertificate-block .sertificate-block-single {
    width: 100%; } }
@media only screen and (max-width: 378px) {
  #similar-preps .item-holder .img-wrap {
    width: 100%; }

  #subheader .subheader-top .second {
    top: 185%; }
  #subheader .subheader-top span {
    width: 85%; }

  .left-side-img-holder {
    width: 100%; }
    .left-side-img-holder a#item-img img {
      width: 100% !important; }

  #additional-menu {
    padding-right: 15px; }

  #similar-preps .item-holder {
    width: 80%; }
    #similar-preps .item-holder .item .image a img {
      width: 100%; }

  .left-side .left-side-img-holder #item-img img {
    width: 100%;
    height: auto; }

  .row.top_menu #social-autorization {
    width: 50% !important; }
    .row.top_menu #social-autorization i {
      width: 17px; }
  .row.top_menu .header-contacts p.visible {
    width: 80% !important; } }
@media only screen and (max-width: 320px) {
  form#certificate-form {
    width: 300px; }

  #subheader .subheader-top span {
    height: 47px;
    width: 100%; }
  #subheader .subheader-top .second {
    right: -20%;
    top: 150%; }

  .master-show .sertificate-block .sertificate-block-single {
    margin-top: 15px; }

  #callback-btn-certificate3 {
    width: 100%; }

  #logo-image {
    width: 215px !important; }

  #additional-menu {
    margin-top: -75px; }

  .main-menu-holder {
    padding-top: 15px;
    padding-bottom: 20px; }

  #subheader .subheader-top span {
    font-size: 18px;
    padding-top: 5px; }
  #subheader .subheader-top span.second {
    font-size: 17px;
    padding-left: 105px;
    padding-top: 5px; }

  .master-show .block-even img {
    width: 250px;
    height: auto; }

  .wedding_item_holder .description_block .item_description {
    padding: 0; }
    .wedding_item_holder .description_block .item_description p {
      font-size: 12px; }
  .wedding_item_holder .wedding_slider .slick-current {
    top: -90px;
    width: 200px !important;
    height: 200px !important;
    padding-left: 5px; }
    .wedding_item_holder .wedding_slider .slick-current img {
      width: 200px;
      height: 200px; } }

/*# sourceMappingURL=style.css.map */
