* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

.no-padding {
  padding: 0 !important;
}

html {
  height: 100%;
}

body {
  font-family: "Century Gothic";
  min-height: 100%;
  position: relative;
  min-width: 320px;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}

@mixin block() {
}

//::-webkit-input-placeholder {
//  color: RED;
//  font-size: 20px;
//  font-family: "Century Gothic";
//}
//::-moz-placeholder          {
//  color: rgb(57,49,133);
//  font-size: 20px;
//  font-family: "Century Gothic";
//}
//:-moz-placeholder           {
//  color: rgba(57,49,133,1);
//  font-size: 20px;
//  font-family: "Century Gothic";
//}
//:-ms-input-placeholder      {
//  color: rgba(57,49,133,1);
//  font-size: 20px;
//  font-family: "Century Gothic";
//}
//input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
//input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
//input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
//input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
//input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
//input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
//input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
//input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
//
//textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
//textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
//textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
//textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
//textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
//textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
//textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
#ms-callback {
  select {
    color: rgb(57, 49, 133);
  }
  background-image: url("/img/4master-show-callback-bg.png");
  height: inherit;
  background-repeat: no-repeat;
  background-position: center;
  padding: 230px 0;
  .input-wrap label.up-top {
    position: absolute;
    left: 100px;
    transition: all 0.3s ease-out;
    z-index: 3;
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
  }
  .input-wrap input:focus + .up-top {
    top: -15px;
    left: 0px;
    font-size: 10px;
    font-style: italic;
    font-weight: 100;
  }
  .input-wrap .filled + .up-top, .input-wrap.textarea-wrap .filled + .up-top {
    top: -15px;
    left: 0px;
    font-size: 10px;
    font-style: italic;
    font-weight: 100;
  }
  label {
    padding: 5px;
    position: absolute;
    left: 139px;
    color: rgb(57, 49, 133);
    font-family: "Century Gothic";
    font-size: 18px;
  }
  .form-control:focus label {
    left: 180px;
    transition: 2s;
  }
  .form-control {
    width: 645px;
    margin: 20px auto;
    font-size: 20px;
    opacity: 0.9;
  }
  input[id='name']::-moz-placeholder {
    color: rgb(57, 49, 133);
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px;
  }
  input[id='name']::-webkit-input-placeholder {
    color: rgb(57, 49, 133);
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px;
  }
  input[id='name']:-ms-input-placeholder {
    color: rgb(57, 49, 133);
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px;
  }
  input[id='surname']::-moz-placeholder {
    color: rgb(57, 49, 133);
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px;
  }
  input[id='surname']::-webkit-input-placeholder {
    color: rgb(57, 49, 133);
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px;
  }
  input[id='surname']:-ms-input-placeholder {
    color: rgb(57, 49, 133);
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px;
  }
  select[id='age'] {
    color: rgb(57, 49, 133);
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px;
  }
  select[id='age'] {
    color: rgb(57, 49, 133);
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px;
  }
  select[id='age'] {
    color: rgb(57, 49, 133);
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px;
  }
  select[id='from'] {
    color: rgb(57, 49, 133);
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px;
  }
  select[id='from'] {
    color: rgb(57, 49, 133);
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px;
  }
  select[id='from'] {
    color: rgb(57, 49, 133);
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-size: 14px;
  }
  .ms-callback-btn {
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    width: 320px;
    background-color: rgba(57, 49, 133, .9);
    color: white;
    font-size: 18px;
    font-family: "Century Gothic";
  }
}

.wedding_item_holder {
  .description_block:first-child {
    background: rgba(191, 190, 195, 0.88);
  }
  .description_block:nth-child(4) {
    background: #D5D8C3;
  }
  .description_block:nth-child(7) {
    background: #DFD5CC;
  }
  .description_block:nth-child(10) {
    background: #E3DFE7;
  }
  .description_block:nth-child(13) {
    background: #D0DBEB;
  }
  .divider:last-child {
    display: none;
  }
  .slick-slider {
    .slick-arrow {
      &:before {
        color: black;
      }
    }
    ul.slick-dots {
      background: #fff;
    }
  }
  margin-top: 25px;
  .divider {
    img {
      margin-top: -20px;
    }
    border: 1px solid gainsboro;
    text-align: center;
    height: 0;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .wedding_slider {
    margin-top: 15px;
    .slick-list {
      height: 325px;
      padding: 150px 78px !important;
      margin-top: -145px;
    }
    button.slick-next {
      &:before {
        content: "" !important;
      }
      background-image: url('/img/wd-leftside-arrow.png');
      background-repeat: no-repeat;
      background-size: 60%;
      top: 75%;
    }
    button.slick-prev {
      &:before {
        content: "" !important;
      }
      background-image: url('/img/wd-rightside-arrow.png');
      background-repeat: no-repeat;
      background-size: 60%;
      top: 75%;
    }
    .slick-slide {
      display: block;
      width: 175px !important;
      height: 175px;
      margin: 0 10px;
      position: relative;
      left: -55px;
      //padding: 10px;
      img {
        width: 100%;
        height: 100%;
        //margin: 0 5px;
        //padding: 10px;
      }
      //img:hover{
      //  transform: scale(1.1);
      //  cursor: pointer;
      //  transition: .4s;
      //  z-index: 999;
      //  position: absolute;
      //}
    }
    .slick-current {
      position: relative;
      top: -146px;
      width: 330px !important;
      height: 330px !important;
    }
  }
  .description_block {
    /*    opacity: 0.4;*/
    //background: url('/img/wedding-flowers/1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #A8A7AC;
    .wd-bg-img {
      position: absolute;
      width: 655px;
      max-height: 400px;
      min-height: 395px;
      z-index: 0;
      left: 50%;
      margin-left: -327.5px;
      overflow: hidden;
      opacity: .5;
    }
    .outer_block {
      background-color: rgba(255, 255, 255, 0.5);
      overflow: hidden;
      height: 395px;
    }
    .item_title {
      margin-top: 70px;
      span {
        background: rgba(255, 255, 255, 0.7);
        font-size: 30px;
        text-transform: uppercase;
        padding: 15px;
      }
    }
    .item_description {
      margin: 10px 0;
      padding: 0 112px;
      /* font-size: 22px; */
    }
  }
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 804px;
  z-index: 2;
}

#our-works-block {
  position: relative;
  width: 100%;
  div {
    width: auto;
    position: absolute;
  }
  img {
    width: 310px;
    padding-top: 14px;
  }
}

$font-size: 26px;
$line-height: 1.4;
$lines-to-show: 2;
.item-holder {
  .item {
    .additional {
      p {
        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        max-width: 400px;
        height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
        margin: 0 auto;
        font-size: $font-size;
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.master-show {
  .our-works-header {
    color: #66737B;
    text-transform: uppercase;
    font-family: "Century Gothic";
    margin-top: 70px;
  }
  .additional-description {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .sertificate-block {
    .sertificate-block-single {
      text-align: center;
      p {
        color: #969AA3;
        padding: 5px 14px;
        font-size: 15px !important;
        margin-bottom: 0px;
        span {
          font-weight: bold;
        }
      }
      img {
        width: 250px;
        height: auto;
      }
      .sertificate-btn {
        width: 221px;
        height: 23px;
        color: white;
        padding: 0;
        border-radius: 0px;
        background-color: #969AA3;
      }
    }
  }
  .h2 {
    margin-bottom: 0px;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 24px;
  }
  .block-even {
    margin-top: 40px;
    float: right;
    img {
      width: 376px;
      height: 250px;
    }
    p {
      text-align: right;
    }
    .description {
      padding-top: 0;
      font-family: "Century Gothic";
      .ms-button {
        color: white;
        width: 159px;
        height: 23px;
        background-color: #898479;
        margin-left: 25px;
        padding: 1px 12px;
        text-transform: uppercase;
        font-size: 11px;
        font-family: "Century Gothic";
        border-radius: 0px;
        float: right;
        margin-top: 38px;
      }
      h4 {
        text-transform: uppercase;
        margin-top: 0;
        text-align: right;
        font-family: "Century Gothic";
      }
      p {
        font-family: "Century Gothic";
        font-size: 15px;
      }
    }
  }
  .block-odd {
    margin-top: 40px;
    margin-bottom: 25px;
    img {
      width: 250px;
      height: auto;
    }
    .description {
      font-family: "Century Gothic";
      .ms-button {
        color: white;
        width: 159px;
        height: 23px;
        background-color: #898479;
        padding: 1px 12px;
        text-transform: uppercase;
        font-size: 11px;
        font-family: "Century Gothic";
        border-radius: 0px;
        margin-top: 18px;
      }
      h4 {
        text-transform: uppercase;
        margin-top: 0;
      }
    }
  }
}

.contacts-description {
  padding-left: 0;
  p {
    font-size: 18px;
  }
  .subheader {
    text-align: center !important;
    .subheader-text {
      position: absolute;
      font-size: 14px;
      left: 30%;
      top: 43px;
      color: black;
      font-family: "Century Gothic";
    }
  }
}

.our-works-photos-holder {
  text-align: center;
  position: relative;
  width: 100%;
  div {
    position: absolute;
    width: auto;
    img {
      width: 275px;
      padding-top: 20px;
    }
  }

}

#subheader {
  .master-show-contacts {
    position: relative;
    text-align: center;
    z-index: 10;
    i {
      color: white;
      float: left;
    }
    p {
      color: white;
      float: left;
      display: block;
      margin: 0 auto;
      position: relative;
      left: 42%;
      span {
        color: white !important;
      }
      i {
        color: white;
      }
    }
  }
  overflow: hidden;
  position: relative;
  background: url('/img/4master-show-bg.png');
  min-height: 804px;
  background-repeat: no-repeat;
  background-size: cover;
  video#bgvid {
    position: absolute;
    width: 100%;
    height: 133%;
  }
  .top_menu_sub {
    position: relative;
    z-index: 3;
  }
  button {
    position: relative;
    z-index: 3;
    color: gray;
    margin: 0 auto;
    display: block;
    margin-top: 70px;
    width: 370px;
    background: #94678C;
    height: 46px;
    opacity: .8;
    color: white;
    font-size: 24px;
    font-style: italic;
    font-family: "Century Gothic";
    border-radius: 0px;
    border: none;
  }
  .subheader-bottom {
    position: relative;
    z-index: 3;
    color: white;
    margin-top: 100px;
    font-size: 24px;
    width: 99%;
    padding-top: 5px;
  }
  .subheader-middle {
    span {
      color: #60AA45;
      font-size: 43px;
    }
    position: relative;
    z-index: 3;
    height: auto;
    margin-top: 275px;
    padding-top: 41px;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-family: "Century Gothic";
  }
  .subheader-middle.second {
    margin-top: 35px;
    p:first-child {
      display: block;
      margin: 0 auto;
      width: 42%;
      text-align: right;
    }
    p:nth-child(2) {
      color: #60AA45;
      display: block;
      width: 50%;
      text-align: left;
      padding-left: 15px;
      /* padding-right: 25px; */
      float: left;
      padding-top: 3px;
    }
  }
  .subheader-top {
    margin-top: 50px;
    margin-bottom: 90px;
    padding: 0;
    position: relative;
    z-index: 3;
    img {
      width: 292px;
      height: auto;
      z-index: 999;
      top: -9px;
      position: relative;
      left: 4px;
    }
    span {
      font-size: 35px;
      font-style: italic;
      color: white;
      background: rgba(255, 255, 255, .3);
      height: 120px;
      display: inline-block;
      width: 772px;
      text-align: left;
      padding-top: 35px;
      padding-left: 15px;
      text-transform: lowercase;
      font-family: "Century Gothic";
    }
    .second {
      font-size: 21px;
      height: 19px;
      padding: 0;
      margin: 0;
      position: absolute;
      background: transparent;
      top: 95%;
      right: -9%;
      font-style: normal;
      text-transform: uppercase;
    }
  }
}

.row.subscribe {
  .image-left {
    margin-top: 5px;
    float: left;
  }
  .desc-right {
    span {
      float: left;
      font-size: 24px;
      font-weight: 600;
      margin-top: 41px;
      margin-left: 0;
    }
    div {
      padding-left: 0;
      p {
        display: block;
        float: left;
      }
    }
    .desc-right-subsc-opt {
      float: left;
      list-style: none;
      margin-left: 90px;
      li {
        font-size: 18px !important;
      }
    }
  }
}

.userform.form1 {
  .fa.fa-bars {
    position: absolute;
    top: 32px;
    right: 30px;
    font-size: 20px;
    color: #5E5971;
  }
}

.userform.form2 {
  .delivery {
    div {
      width: 50%;
      float: left;
      p {
        margin-right: 5px;
        display: block;
        float: left;
      }
      input[type='radio'] {
        display: block;
        float: left;
        width: 12%;
        height: 13px;
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
      }
      input[type='radio']:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
  }
  #date-time {
    .clockpicker {
      i.fa.fa-clock-o {
        position: absolute;
        top: 34px;
        margin-left: 155px;
        font-size: 18px;
        color: #5E5971;
      }
      label[for='time'] {
        position: absolute;
        top: -3px;
        font-family: Trebuchet MS;
        color: #5E5971;
      }
    }
  }
}

#total-block {
  margin-top: -96px;
  .cart_count {
    padding: 5px;
    margin: 10px;
    span {
      font-size: 20px;
    }
  }
  .cart_price {
    padding: 5px;
    margin: 10px;
    span {
      font-size: 20px;
    }
  }
  .timepicker {
    display: none;
  }
  .datepicker {
    width: 100% !important;
  }
}

.callback-form {
  padding: 15px;
  .h3 {
    color: gray;
    border-bottom: 1px solid gainsboro !important;
    margin-bottom: 15px;
    padding: 15px;
  }
}

.top-header-links-holder {
  ul {
    list-style: none;
    li.top-header-link {
      display: block;
      float: right;
      padding: 5px;
      a {
        display: block;
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
      }
    }
  }
}

.top_menu_holder {
  .top_menu {
    border-bottom: 1px solid gainsboro;
    .header-contacts {
      padding-left: 28px;
      div {
        i {
          padding-bottom: 3px;
        }
        p {
          display: block;
          float: left;
          i {
            padding-bottom: 3px;
          }
          span {

          }
        }
      }
    }
  }
}

#upload-photo {
  display: block;
}

.photo_flower_block:hover .photo_flower_block_inner {
  opacity: 1;
}

.photo_flower_block:hover #main-page-img-sub {
  opacity: 0.1;
  transition: opacity 0.4s;
}

.photo_flower_block {
  position: relative;
  .photo_flower_block_inner {
    z-index: 10;
    display: none;
    position: absolute;
    width: 92%;
    top: 35px;
    color: white;
    font-family: "Century Gothic";
    font-size: 24px;
    //background-color: #636363;
    opacity: 0;
    transition: opacity 0.6s;
    height: 91%;
    i.fa {
      margin-left: 145px;
      font-size: 56px;
    }
    div.text-center:first-child {
      margin-top: 85px;
    }
  }
}

ul.lang-list {
  list-style: none;
  li {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    a {
      font-family: "Century Gothic";
      color: #2B2A29;
      font-size: 14px;
    }
  }
}

#checkout-step {
  #step3 {
    text-align: center;
    border: 1px solid gainsboro;
    padding: 15px;
    display: table;
    margin: 0 auto;
    .row {
      .col-sm-12 {
        text-align: left;
        .form1 {
          text-align: center;
          ul.dotted {
            li {
              width: 100%;
            }
          }
        }
        .form2 {
          text-align: center;
        }
      }
    }
  }
}

ul.fields.dotted {
  list-style: none;
}

ul.fields.pad {
  list-style: none;
}

.fa-arrow-circle-down:hover {
  cursor: pointer;
}

.submit-button {
  transition: transform 0.5s;
  transform: rotate(-180deg);
}

.hover .photo_flower_block_inner {
  display: block;
}

.photo_flower_block:hover .photo_flower_block_inner {
  display: block;
}

.photo_flower_block:hover img {
  transition: .6s;
}

input[type=file].upload-button {
  display: block;
}

.photo_flower_block:hover #upload-photo {
  display: block;
}

input[type=submit].input-sumbit {
  display: block;
}

.layer-main {
  position: absolute;
  top: 31px;
  left: 16px;
  width: 92%;
  height: 92%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 1s;
  z-index: 0;
}

.photo_flower_block:hover .layer-main {
  opacity: 1;
}

.main_page_item_holder {
  margin-top: 25px;
  margin-left: 0;
  a {
    text-decoration: none;
    color: black;
    #main-page-img {
      border: 1px solid gainsboro;
    }
  }
}

.item-holder {
  margin-top: 24px;
}

div.content {
  p {
    img {
      width: 100% !important;
      height: auto !important;
    }
  }
}

.right-side {
  padding-top: 20px;
  h2 {
    margin-top: 5px;
    text-align: center;
    border-bottom: 1px solid;
  }
}

.left-side {
  padding-top: 40px;
  .left-side-img-holder {
    margin-bottom: 15px;
    a#item-img {
      display: block;
      img {
        width: 350px;
        height: 350px;
        display: block;
      }
    }
    a:focus {
      outline: none;
    }
  }
}

.blog-page-holder {
  img {
    width: 100%;
  }
  width: 70%;
  margin: 0 auto;
}

.back-blog-button-holder:hover {
  text-decoration: none !important;
}

.back-blog-button {
  margin: 0 auto;
  margin-top: 75px;
  display: block;
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid black;
  color: black;
}

.blog-content {
  margin-top: 25px;
  .blog-item-text {
    p {
      margin-top: 30px;
    }
    h2 {
      margin-top: 0;
      color: black;
      margin-bottom: 0;
    }
  }
  .blog-item {
    .item-text-bottom {
      a {
        padding: 0;
        color: darkgray;
        font-size: 18px;
      }
      a:hover {
        text-decoration: underline;
        color: black;
        transition: 0.2s;
      }
    }
    margin-bottom: 20px;
    .blog-img {
      width: 350px;
      height: 350px;
      border: 1px solid #bfbfbf;
    }
  }
}

.promo {
  width: 50%;
  input[name="code"] {
    width: 72%;
    border-bottom: 1px solid;
  }
  button {
    width: 25px;
    height: 22px;
  }
}

#cart-radio-grp {
  padding-top: 0 !important;
  label[class='control-label'] {
    color: #5E5971;
    font-size: 16px;
    font-family: "Century Gothic";
  }
  div {
    margin-bottom: -10px;
    padding: 0;
    input[type='radio'] {
      display: block;
      float: left;
    }
    label {
      color: #5E5971;
      display: block;
      font-family: "Century Gothic";
      font-weight: 400;
      padding-left: 20px;
    }
  }
}

.cart-wrapper {
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  .cart-row {
    padding: 5px;
    border-top: 1px solid gainsboro;
    height: 225px;
    .img-responsive {
      height: 200px;
      width: 180px;
    }
  }
  .item {
    .text-right {
      position: relative;
      top: -30px;
    }
    a.del {
      color: black;
    }
    h4 {
      a {
        color: black;
        text-decoration: none;
      }
    }
  }
  .quantity {
    width: 12%;
  }
  .spinner:hover {
    cursor: pointer;
  }
  .plus.spinner {
    left: 35px;
    position: relative;
    top: -37px;
  }
  .minus.spinner {
    position: relative;
    top: 35px;
    left: 35px;
  }
}

#header-phone-block:hover {
  cursor: pointer;
}

.top-slider {
  margin-bottom: 45px;
  padding: 0;
  ul.slick-dots {
    top: 94%;
    li {
      width: 12px;
      height: 12px;
      border: 1px solid;
      color: white;
      border-radius: 50px;
      button {
        color: transparent;
      }
      button:before {
        color: transparent !important;
      }
    }
    li.slick-active {
      background: white;
      button {
        visibility: hidden;
      }
      button:before {
        color: transparent !important;
      }
    }
    li[aria-hidden="false"] {
      button {
        background: white;
        border-radius: 50px;
      }
    }
  }
  div {
    position: relative;
    img {
      display: none;
    }
    .slick-slide {
      img {
        display: block !important;
        width: 730px !important;
        height: 460px !important;
      }
    }

    .first {
      top: 50%;
      left: 9%;
      width: 80%;
      font-size: 37px;
    }
    .second {
      font-size: 37px;
      top: 180px;
      left: 50px;
      background-color: rgba(122, 135, 68, 0.7);
      padding: 4px;
      color: #ececec;
    }
    .third {
      font-size: 37px;
      top: 270px;
      left: 126px;
      color: #88954F;
      padding: 4px;
      background-color: rgba(255, 255, 255, 0.5);
    }
    span {
      position: absolute;
      color: #ececec;
      font-size: 37px;
      padding: 8px;
      background-color: rgba(129, 129, 129, .8);
      text-transform: uppercase;
    }
  }

  div:first-of-type {
    img {
      display: block !important;
    }
  }

  .slick-prev {
    display: none !important;
  }
  .slick-next {
    display: none !important;
  }
  padding-top: 0 !important;
  .slick-list.draggable {
    height: auto;
  }
}

.bottom-slider {
  .col-lg-4:hover {
    box-shadow: #0a001f;
    border-color: silver;
  }
  .col-lg-4 {
    padding: 2px;
    margin-outside: 2px;
  }
  a {
    text-decoration: none;
    color: #696969;
  }
  a:hover {
    text-decoration: none;
  }
  padding-top: 25px !important;
  margin-left: 4%;
  .col-lg-4 {
    border: 1px solid transparent;
    padding: 5px;
    .size {
      margin-top: 5px;
      padding: 5px;
    }
    .quantity {
      padding: 5px;
      width: 81%;
      margin: 0 auto;
      display: block;
      margin-bottom: 7px;
    }
    a {
      button {
        width: 53%;
        display: block;
        margin: 0 auto;
        font-size: 14px;
        font-weight: 500;
        color: black;
        text-transform: lowercase;
        background-color: #DFE3E6;
      }
    }
  }
  div {
    img {
      width: 255px !important;
      height: 255px !important;
      display: block;
      margin: 0 auto;
    }
  }
}

.delivery-btn-holder {
  a:hover {
    text-decoration: none;
  }
  .delivery-btn {
    display: block;
    width: 100%;
    margin-top: 25px;
    height: 40px;
    color: white;
    font-size: 20px;
    background-color: #B7B7B7;
    text-transform: uppercase;
  }
}

.what-is {
  padding: 25px 34px 3px 36px !important;
}

.cart-bg {
  background-image: url('/img/cart-bg.png');
  background-repeat: no-repeat;
}

.cart-header {
  color: #94678C;
  font-family: 'Trebuchet MS';
  margin-bottom: 25px;
  margin-left: -85px;
}

p.userform-subheader {
  display: block;
  margin-top: 30px;
}

#cart-form {
  padding-top: 30px;
}

.catalog-item-holder {
  padding-right: 0;
  padding-left: 0;
}

.catalog-list {
  .sort {
    margin-top: 10px;
  }
  .item-holder {
    .item {
      h3 {
        color: black;
        padding: 0;
        font-family: "Century Gothic";
        min-height: 30px !important;
        max-height: 30px;
        font-size: 21px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .additional {
        margin-top: 10px;
        p {
          max-height: 31px;
          overflow: hidden;
          font-size: 11px;
          color: black;
        }
        button {
          width: 100%;
          background-color: #ABABAB;
          height: 27px;
          font-family: "Century Gothic";
          color: #fff;
        }
        .item_price {
          font-size: 18px;
          background-color: #F0EEF3;
          margin: 0;
          height: 31px;
          padding-top: 3px;
          color: black;
        }
      }
    }
  }
  .img-wrap {
    width: 100%;
  }
  text-align: center;
  a {
    .item_header {
      font-size: 20px;
      padding: 10px;
      color: rgba(105, 105, 105, 0.7);
    }
    text-decoration: none;
    color: #000;
  }
}

#share {
  display: inline-flex;
  margin-top: 15px;
  float: left;
  span {
    padding-top: 2px;
    margin-right: 15px;
    font-size: 18px;
  }
  .ssk-count {
    padding-top: 0;
  }
}

.top_menu_items {
  float: right;
  margin-left: 10px;
  font-size: 18px;
  font-family: "Century Gothic";
}

.top_menu_sub {
  background: white;
  width: 100%;
  margin: 0 auto;
  .subheader {
    margin-top: 5px;
    font-weight: bold;
    padding: 5px;
  }
  .header-contacts {
    div {
      p {
        display: block;
        float: left;
      }
      i.btn {
        display: block;
        float: left;
        padding: 2px 3px !important;
      }
    }
  }
}

div#form-holder {
  padding: 5px;
  h3 {
    font-size: 24px;
    font-family: "Century Gothic";
    display: block;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 15px;
  }
  form {
    margin-top: 30px;
    input {
      border-radius: 0;
      border: 1px solid gainsboro;
    }
    button[type='submit'] {
      display: block;
      margin: 0 auto;
      width: 160px;
      height: 30px;
      color: black;
      background-color: transparent;
      border: 1px solid;
      margin-top: 10px;
    }
  }
}

.header .col-lg-8 {
  text-align: center;
  margin-bottom: 20px;
}

.header .col-lg-4 {

}

.col-lg-1 {
  margin: 0 10px;
}

.header-contacts {
  p {
    span {
      font-size: 14px !important;
    }
  }
  margin-top: 5px;
}

.logo-img {
  padding: 0;
}

#languages {
  margin-top: 10px;
  text-align: right;
  height: 20px;
  width: 100%;
  padding-top: 10px;
  padding-right: 18px;
}

#view-page {
  .item_description {
    p {
      padding: 15px 15px;
    }
  }
}

#breadcrumb {
  color: silver;
  padding: 10px 15px;
  text-align: left;

  div {
    display: inline-block;
  }
  a {
    font-size: 12px;
    text-decoration: none;
    color: silver;
  }
}

#currency {
  margin-top: 10px;
  text-align: right;
  padding-right: 0;
  padding-top: 0px;
  width: 100%;
  margin-bottom: 5px;
  a {
    font-family: "Century Gothic";
    font-size: 14px;
    margin: 0 1px;
    color: rgba(0, 0, 0, 0.5);
  }
}

#social-autorization {
  text-align: left;
  margin-top: 5px;
  padding-right: 40px;
  a.auth-link:hover {
    text-decoration: none;
  }
  p {
    float: left;
  }
}

#social-autorization i {
  padding: 0 5px;
  color: black;
}

#social-autorization .fa-facebook:hover {
  color: silver;
}

#social-autorization .fa-vk:hover {
  color: silver;
}

#social-autorization .fa-instagram:hover {
  color: silver;
}

#additional-menu {
  margin-top: -50px;
  margin-bottom: 5px;
  font-size: 12px;
  color: silver;
}

#menu {
  margin-top: 50px;
}

#menu ul {
  width: 106%;
  height: auto;
}

#menu ul > li > a {
  padding: 2px;
  width: 100%;
  font-family: "Century Gothic";
  color: #6b6b6b;
}

#menu ul > li > a:hover {
  text-decoration: none;
  background: none;
}

#menu ul > li > a:focus {
  text-decoration: none;
  background: none;
}

#menu a {
  text-decoration: none;
  color: #6b6b6b;
}

#menu .col-lg-2:hover {
  border-bottom: 1px solid black;
  transition: 2s;
}

#menu .col-lg-5:hover {
  border-bottom: 1px solid black;
  transition: 2s;
}

#menu .col-lg-3:hover {
  border-bottom: 1px solid black;
  transition: 2s;
}

#currency img {
  width: 29px;
  height: 21px;
}

#logo-image {
  width: 325px;
  height: auto;
  border: none;
  padding-top: 16px;
}

.main-menu-holder {
  padding-bottom: 40px;
  ul.nav {
    text-align: right;
    li {
      position: relative;
      display: inline-block;
      margin-left: 10px;
      font-size: 18px;
      font-family: "Century Gothic";
    }
  }
}

.active {
  display: inline-block;
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 0;
}

#callback-btn-master-show:hover {
  text-decoration: none;
}

#callback-btn-master-show:focus {
  text-decoration: none;
}

//#callback-btn{
//  border: 1px solid #dcdcdc;
//  background: #f0f0f0;
//  margin-left: 10px;
//  margin-top: 0px;
//}
#callback-btn {
  padding: 0px 3px;
  position: absolute;
  top: 0px;
  left: 160px;
}

#callback-btn2 {
  padding: 0px 1px;
  transform: rotate(-455deg);
}

#callback-btn:focus {
  border: none;
}

.col-lg-8 {
  padding-top: 200px;
}

#contacts {
  margin-top: 60px;
}

#contacts .col-lg-10 {
  padding-left: 28px;
  width: 200%;
}

#download-button {
  padding: 0 150px !important;
  margin-top: 50px;
}

#download-button i:hover {
  cursor: pointer;
}

#download-thing-1 {
  margin-top: 115px !important;
}

#download-thing-2 {
  margin-top: 55px !important;
}

#container {
  border-top: 1px solid #cdcdcd;
  overflow: hidden;
}

.order-btn {
  transition: 1s;
  position: absolute;
  top: 160px;
  left: 300px;
  width: 70px;
  height: 70px;
  margin-left: 130px;
  margin-right: 53px;
  margin-bottom: 20px;
  background: transparent;
  border: 1px solid #4d4d4d;
  border-radius: 40px;
  padding: 12px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.order-btn:hover {
  background: #bfbfbf;
  transition: 0.2s;
}

.some-button {
  visibility: hidden;
  transition: 1s;
  position: absolute;
  top: 75px;
  right: 300px;
  width: 70px;
  height: 70px;
  margin-left: 56px;
  margin-right: 145px;
  margin-bottom: 20px;
  background: transparent;
  border: 3px solid #4d4d4d;
  border-radius: 40px;
  padding: 12px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.some-button:hover {
  background: #bfbfbf;
  transition: 0.2s;
}

#serve-icons {
  margin-left: 0;
}

.img-wrap {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 250px;
}

.img-wrap img {
  width: 250px;
  height: 250px;
  border: 1px solid #bfbfbf;
}

.img-wrap:hover .order-btn {
  display: none;
  left: -25px;
  top: 130px;
}

.img-wrap:hover .some-button {
  display: block;
  right: -53px;
}

/*.order-btn:hover{*/
/*background: white;*/
/*border: 1px solid black;*/
/*transition: 0.2s;*/
/*color: black;*/
/*}*/
/*.some-button:hover{*/
/*background: white;*/
/*border: 1px solid black;*/
/*transition: 0.2s;*/
/*color: black;*/
/*}*/

.photo-download {
  border: 1px solid #e9e9e9;
  margin-top: 60px;
  height: 350px;
}

.page-content {
  padding-top: 30px;
}

#catalogue-price {
  font-size: 16px;
  font-weight: bold;
}

#similar-preps #catalogue-price {
  font-size: 16px;
  font-weight: bold;
  padding: 0 90px !important;
}

.row .col-lg-4 > img {
  width: 350px;
  height: 350px;
  border: 1px solid #bfbfbf;
}

.row .col-lg-4 > img:hover {
  opacity: 0.8;
  transition: 0.5s;
  cursor: pointer;
}

#row-1,
#row-2 {
  margin-top: 20px;
}

#main-page-img {
  width: 100%;
  height: 350px;
}

#main-page-img-sub {
  position: absolute;
  top: 31px;
  left: 15px;
  width: 265px;
  height: 350px;
  border: none;
  z-index: 1;
}

#row-2 {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#container .h3 {
  text-align: center;
  width: 100%;
  font-size: 21px;
}

#srv-btns {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 120px;
  width: 88%;
}

#srv-btns button:hover {
  background: rgba(254, 254, 254, 1);
  background-size: 100%;
  transition: 0.2s;
  border: 1px solid black;
  color: #000;

}

.srv-bnt-1 {
  width: 350px;
  height: 45px;
  margin: 15px;
  background: #52bdff;
  border: none;
  /*-webkit-border-radius: 5px;*/
  /*-moz-border-radius: 5px;*/
  /*border-radius: 5px;*/
  color: white;
  font-weight: bold;
}

.srv-btn-2 {
  width: 350px;
  height: 45px;
  margin: 15px;
  background: #52bdff;
  border: none;
  /*-webkit-border-radius: 5px;*/
  /*-moz-border-radius: 5px;*/
  /*border-radius: 5px;*/
  color: white;
  font-weight: bold;
}

#footer {
  margin-top: 100px;
  margin-bottom: 30px;
  width: 100%;
  border-top: 1px solid grey;
  #payment-icons {
    .footer-payment-header {
      font-size: 18px;
      font-family: "Century Gothic";
      font-weight: 500;
    }
  }
}

#footer .h3 {
  text-align: center;
  margin-bottom: 50px;
}

#social {
  text-align: center;
  div {
    a {
      i {
        color: black;
      }
    }
  }
}

#social-bar {
  margin-top: 13px;
  padding-top: 13px;
  #social {
    i.fa {
      color: black;
    }
  }
}

#footer .col-lg-1 {
  padding: 0px;
  margin: 0 14px;
}

#payment-footer {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  font-family: "Century Gothic";
}

#payment-icons img {
  width: 35%;
  height: auto;
}

#payment-icons {
  text-align: center;
}

#social i:hover {
  opacity: 0.5;
  transition: 0.2s;
}

#buy-btn {
  width: 251px;
  height: 27px;
  font-size: 18px;
  color: #fff;
  background-color: #ABABAB;
  border-radius: 0;
  padding: 0;
  margin-left: 15px;
}

.footer-phone-block:hover {
  cursor: pointer;
}

#buy-btn a {
  text-decoration: none;
  color: white;
}

.fa-check-square {
  color: green;
}

.fa-window-close {
  color: red;
}

#flower-name {
  text-align: center;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  margin-top: 0 !important;
}

#payment {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d5e2e3;
}

#about-us {
  text-align: center;
}

#about-us ul > li:before {
  content: '';
  list-style-image: url('../img/map-marker.png');
  width: 5px;
  height: 5px;
}

#container .of-row img {
  margin-top: 30px;
  width: 400px;
  height: 400px;
}

#container .h3.col-lg-6 {
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
  font-family: "Century Gothic";
}

#container .col-lg-6 .h3 {
  text-align: left;
  width: 100%;
}

#container .col-lg-6 p {
  padding: 6px;
}

#container .of-row {
  border-bottom: 1px solid #dadada;
}

#portfolio {
  margin-bottom: 50px;
}

#thumbs {
  .slick-list {
    .slick-track {
      width: 100% !important;
      .slick-slide {
        width: 125px !important;
      }
    }
  }
}

#portfolio .h3 {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  margin-bottom: 25px;
}

#portfolio-image {
  padding: 15px;
  width: 100%;
  height: 100%;
}

#portfolio-image:hover {
  opacity: 0.9;
  transition: 0.4s;
  background: #ffffff;
  border: none;
}

#view-more {
  margin-left: 25px;
  float: left;
  width: 240px;
  height: 25px;
  background: rgba(254, 254, 254, 1);
  border: 1px solid #d6d6d6;
  font-weight: bold;
  text-transform: uppercase;
  color: #797979;
}

.menu-categories-holder {
  margin-top: 53px;
}

#sidebar {
  width: 100%;
  margin-top: 20px;
}

#sidebar li {
  border-bottom: 1px solid rgba(107, 107, 107, 0.44);
  text-align: left;
}

#sidebar li > a {
  text-decoration: none;
  color: black;
  padding: 10px 0;
  font-family: "Century Gothic";
  font-size: 13px;
}

#sidebar li.active a {
  background-color: #eee;
}

.tabs {
  border: 0px solid black;
}

.navbar {
  padding: 0 10px;
}

.navbar-btn {
  border: 1px solid black;
  margin-top: 0px !important;
}

#content-1 {
  min-width: 550px;
}

#content-2 {
  min-width: 550px;
}

#content-3 {
  min-width: 550px;
}

#o-btn-1,
#o-btn-2,
#o-btn-3 {
  height: 35px;
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  background: white;
  font-weight: bold;
}

.navbar-btn img {
  width: 100px;
  height: 100px;
}

.img-tabs img {
  width: 100%;
  height: 450px;
}

.navbar-image {
  padding: 0 45px;
  margin-top: 15px;
}

#img-btn-1,
#img-btn-2,
#img-btn-3 {
  margin: 0 8px;
}

.row .col-lg-3 img {
  width: 250px;
  height: 250px;
}

.row-similar {
  margin-top: 5px;
  margin-bottom: 20px;
  .item-holder {
    .item {
      .additional {
        p:first-child {
          display: none;
        }
      }
    }
  }
}

.row-similar .h3 {
  margin-bottom: 10px;
  margin-top: 25px;
}

.row-similar .order-btn-similar {
  transition: 0.5s;
  position: absolute;
  top: 175px;
  left: 300px;
  width: 150px;
  height: 35px;
  margin-left: 56px;
  margin-right: 53px;
  margin-bottom: 20px;
  background: rgba(254, 254, 254, 1);
  border: 1px solid #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.img-wrap-similar:hover .order-btn-similar {
  display: block;
  left: 0;
  cursor: pointer;
}

.img-wrap-similar {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 250px;
}

.similar {
  text-align: left !important;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  background: #ABABAB;
  color: #FFF;
}

.item_description {
  p {
    display: inline-block;
    font-size: 16px;
    margin-top: -10px;
    padding-top: 15px;
    img {
      width: 100% !important;
      height: auto !important;
    }
  }
}

.pagination-holder {
  width: 100%;
  clear: both;
  ul {
    margin-bottom: 0;
  }
}

#najavnist {
  text-align: left !important;
  font-size: 25px;
}

#tsina {
  span.price {
    color: #2B2A29;
  }
  p {
    margin-top: 4px !important;
    margin-right: 5px;
    display: block;
    float: left;
    font-size: 16px !important;
    padding: 0 !important;
    font-family: "Century Gothic";
  }
  text-align: left !important;
  font-size: 25px;
  padding: 0;
}

#footer .col-lg-6 .col-lg-3 {
  width: 30%;
  padding: 10px;
  background: white;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
}

#footer .col-lg-6 .col-lg-3:hover {
  background: grey;
  cursor: pointer;
  transition: 0.2s;
}

#footer .col-lg-6:nth-child(2) {
  margin-top: 25px;
}

.footer_number {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  float: right;
  text-align: right;
}

.zoom {
  width: 450px;
}

#container .pagination {
  li {
    a:hover {

    }
  }
}

section .row {
  margin-bottom: 25px;
}

#blog-content {
  padding: 0 15px;
}

#blog-content .h3 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold
}

#similar-preps {
  .row-similar {
    div.item {
      h3 {
        min-height: 30px;
        font-size: 22px;
      }
    }
  }
}

#similar-preps {
  padding: 0 !important;
  .item-holder {
    text-align: center;
    .img-wrap {
      margin: 0 auto;
    }
    .item_header {
      font-size: 22px;
      font-weight: 500;
    }
    .item {
      .additional {
        .item_price {
          font-size: 18px;
          background-color: #F0EEF3;
          margin: 0;
          height: 31px;
          padding-top: 3px;
          width: 86%;
          margin-left: 23px;
        }
        a {
          button {
            width: 86%;
            background-color: #ABABAB;
            height: 27px;
            font-family: "Century Gothic";
            color: #fff;
            display: block;
            margin: 0 auto;
            margin-left: 23px;
          }
        }
        a:hover {
          text-decoration: none;
        }
      }
    }
  }
}

#similar-preps .row {
  padding: 0 14px;
}

#container .col-lg-12 {

}

#h3-blogs {
  font-weight: bold;
  color: saddlebrown;
  margin-bottom: 25px;
  text-transform: uppercase;
}

#blog-inner .col-lg-12 img {
  width: 1000px;
}

#container .col-lg-12 p {
  margin-top: 5px;
  font-size: 15px;
}

#container .col-lg-12 ul > li {
  margin: 10px 4px;
  font-size: 16px;
}

#container .col-lg-12 {
  margin: 10px 0;
}

#container .col-lg-12 .btn-danger {
  width: 250px;
}

#back-btn {
  padding: 0 445px !important;
  margin-top: 25px !important;
  margin-bottom: 20px !important;
}

#m-s-button-2 {
  margin-right: 50px;
  width: 30%;
  float: right;
}

#m-s-button-1 {
  margin-left: 50px;
  width: 30%;
  float: left;
}

#m-s-buttons {
  margin-top: 20px;
}

#gallery-img {
  width: 350px;
  height: 350px;
}

#inner-img {
  width: 450px !important;
  height: 450px !important;
}

#purchase-desc {
  margin: 0 !important;
}

#desc-1 {
  font-weight: bold;
  font-size: 16px;
  padding: 0 !important;
}

#desc-2 {
  margin-top: 50px;
  margin-left: 0 !important;
  padding: 0 !important;
}

#desc-3 {
  margin-top: 35px;
}

#datetimepicker {
  width: 100%;
}

#purchase-info p {
  padding: 15px 0 !important;
  margin-left: 0 !important;
}

.asd {
  position: relative;
}

.asd .glyphicon-time {
  position: absolute;
  right: 20px;
  top: 30px;
}

#confirm-btn {
  width: 445px;
  background-color: #94678C;
  font-family: 'Trebuchet MS';
  color: white;
  text-transform: uppercase;
}

.clockpicker {
  float: left !important;
}

.in-inner-block {
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cccccc;
}

.total {
  font-weight: bold;
  font-size: 16px;
}

.fa-ban:hover {
  color: #3875ff;
  cursor: pointer;
}

.fa-eye {
  color: slategray;
}

.fa-shopping-cart {
  color: slategray;
}

#upload-photo {
  width: 500px;
  padding: 10px;
}

#callback-form .h3 {
  border-bottom: 2px solid #cdd3eb;
  text-align: center;
  margin-bottom: 25px;
  padding: 15px;
  color: darkgray;
}

#callback-name {
  margin-bottom: 25px;
  height: 50px;
}

#callback-number {
  margin-bottom: 35px;
  height: 50px;
}

#bin {
  padding-top: 0 !important;
}

#purchase-desc {
  padding-top: 0 !important;
}

#hidden-2 {
  float: right;
}

#hidden-1 {
  font-size: 18px;
  font-family: inherit;
}

#mp-callback-form {
  .h3 {
    color: gray;
    margin-bottom: 40px;
    padding: 15px;
  }
  .form-group {
    input[type="text"] {
      border: 1px solid gainsboro;
      margin-bottom: 30px;
    }
  }
  button {
    width: 60%;
    display: block;
    margin: 0 auto;
    border: 1px solid;
  }
}

ul.language_bar_chooser.lang-list {
  width: 110% !important;
}

div#step2 {
  .cart-bg {
    div.cart-right-side {

    }
    div.cart-left-side {
      .userform.form1 {
        input[id='datetimepicker4'] {
          border-radius: 0;
        }
        div.form-group {
          input {
            border-radius: 0;
          }
          select {
            border-radius: 0;
          }
        }
      }
    }
    div.cart-right-side {
      .userform.form2 {
        #date-time {
          .clockpicker {
            input {
              border-radius: 0;
            }
          }
        }
        .delivery {
          margin-bottom: 58px;
        }
        .form-group {
          input {
            border-radius: 0;
          }
          input[id='receiver'] {
            width: 10%;
            height: 15px;
          }
          textarea {
            border-radius: 0;
          }
        }
      }
    }
    button {
      border-radius: 0;
    }
  }
}

@media only screen and (min-width: 1630px) {
  #subheader video#bgvid {
    top: -60px;
    width: 100% !important;
  }
}

@media only screen and (max-width: 1415px) {
}

@media only screen and (max-width: 1300px) {
  #subheader video#bgvid {
    top: -140px;
    width: 125%;
    height: 151%;
  }
}

@media only screen and (max-width: 1299px) {
  .top_menu_sub {
    .header-contacts {
      padding: 2px 0 0 0;
    }
    #social-autorization {
      padding-right: 10px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    .header-row {
      .top_menu_holder {
        .container {
          .top_menu {
            .header-contacts {
              p {
                width: 83%;
                float: left;
              }
            }
          }
        }
      }
    }
  }
  .master-show {
    .sertificate-block {
      .sertificate-block-single:first-child {
        margin-left: 14%;
      }
    }
  }
  #subheader video#bgvid {
    top: -210px;
    width: 123%;
    height: 180%;
  }
}

@media only screen and (max-width: 1199px) {
  #similar-preps {
    .item-holder {
      .item {
        .additional {
          a {
            button {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  #thumbs {
    .slick-list {
      .slick-track {
        .slick-slide {
          width: 105px !important;
        }
      }
    }
  }
  .photo_flower_block {
    .layer-main {
      top: 29px;
      width: 87%;
    }
    .photo_flower_block_inner {
      i.fa {
        margin-left: 113px;
      }
      div.text-center {
        width: 95%;
        font-size: 20px;
      }
      div.text-center:first-child {
        margin-top: 45px;
      }
    }
  }

  #logo-image {
    padding-top: 10px;
  }
  #languages {
    margin-top: 4px;
    padding-right: 9px;
  }
  .wedding_item_holder {
    .description_block {
      .wd-bg-img {
        width: 47.5%;
        height: 12%;
        left: 53%;
        max-height: 395px;
      }
    }
    .wedding_slider {
      .slick-current {
        width: 175px !important;
        height: 175px !important;
        top: 0;
      }
      .slick-slide {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .blog-content {
    .blog-item {
      .blog-item-img {
        a {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  #cart {
    form#checkout-form {
      #step2 {
        .cart-bg {
          .cart-right-side {
            .userform.form2 {
              #date-time {
                div.clockpicker:nth-child(2) {
                  margin-left: 5px !important;
                }
              }
              div {
                button#confirm-btn {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
  #similar-preps {
    .row-similar {
      .item-holder {
        .item {
          .additional {
            p.item_price {
              margin-left: 0;
              width: 100%;
            }
            a {
              display: block;
              width: 100%;
              button {
                width: 100%;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
  .top-slider {
    div {
      span {
        font-size: 20px;
      }
      .slick-slide {
        img {
          width: 597px !important;
          height: 330px !important;
        }
      }
    }
    height: 590px;
    float: none;
    margin: 0 auto;
  }
  .what-is {
    float: none;
    margin: 0 auto;
    padding: 25px 0 3px 0 !important;
  }
  .bottom-slider {
    div {
      img {
        height: auto !important;
      }
    }
    float: none;
    margin: 0 auto;
  }
  .catalog-item-holder {
    .item-holder {
      .item {
        .image.img-wrap {
          height: 221px;
          a {
            img {
              width: 221px;
              height: 221px;
            }
          }
        }
      }
    }
  }
  .main_page_item_holder.photo_flower_block {
    div.h3 {

    }
  }
  .main_page_item_holder {
    a {
      div.h3 {
        font-size: 17px !important;
      }
    }
  }
  #main-page-img {
    width: 282px;
    height: 282px;
  }
  #menu {
    margin-top: -10px;
  }
  #additional-menu {
    margin-top: -92px;
  }
  .main-menu-holder {
    padding-top: 0;
  }
  .header {
    .header-row {
      .top_menu_holder {
        .container {
          .top_menu {
            .header-contacts {
              padding-left: 0;
              p {
                width: 92%;
                float: left;
              }
            }
          }
        }
      }
    }
  }
  #social {
    padding: 0;
    margin-top: 10px;
    div {

    }
  }
  #subheader {
    video#bgvid {
      display: none;
    }
    .subheader-middle {
      margin-top: 170px;
    }
  }
  .layer {
    height: 1245px;
  }
}

#ms-callback {
  width: 910px;
  height: 750px;
}

#certificate-form {
  padding: 15px;
}

@media only screen and (max-width: 1032px) {
  .master-show {
    .sertificate-block {
      .sertificate-block-single {
        .sertificate-btn {
          width: 100%;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .block-even {
      img {
        width: 100%;
        height: auto;
      }
    }
    .block-odd {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  #certificate-form {
    padding: 15px;
  }
  form#ms-callback {
    width: 750px;
  }
  #subheader {
    .subheader-top {
      img {
        width: 220px;
      }
      span {
        font-size: 33px;
        font-style: italic;
        color: white;
        background: rgba(255, 255, 255, 0.3);
        height: 105px;
        display: inline-block;
        width: 555px;
        text-align: left;
        padding-top: 30px;
        padding-left: 15px;
        text-transform: lowercase;
        font-family: "Century Gothic";
      }
    }
    .subheader-middle {
      p {
        font-size: 30px;
        span {
          font-size: 33px;
        }
      }
    }
    .subheader-middle.second {
      margin-top: 10px;
      p {
        font-size: 30px;
        span {
          font-size: 33px;
        }
      }
    }
  }
}

@media only screen and (max-width: 995px) {

  .wedding_item_holder {
    .description_block {
      .wd-bg-img {
        left: 60%;
      }
    }
    .wedding_slider {
      .slick-slide {
        img {
          height: 150px;
          width: 150px;
        }
      }
    }
  }
  #cart {
    form#checkout-form {
      #step2 {
        .cart-bg {
          .cart-right-side {
            .userform.form2 {
              div.delivery {
              }
              p.userform-subheader {
                display: none;
              }
              #date-time {
                div.clockpicker:nth-child(1) {

                }
                div.clockpicker:nth-child(2) {
                  margin-left: 0 !important;
                  margin-top: 7px !important;
                  margin-bottom: 18px !important;
                  i {
                    top: 75px;
                  }
                }
              }
              div {
                button#confirm-btn {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
  .catalog-list {
    .menu-categories-holder {
      ul {
        li {
          text-align: center !important;
        }
      }
    }
  }
  #footer {
    #payment-icons {
      .footer-payment-header {
        p {
          margin: 0 0 8px;
        }
      }
    }
    .footer-phone-block {
      span {
        margin-left: 0;
      }
    }
    #social-bar {
      #social {
        div {
          margin: 0;
        }
      }
    }
  }
  .master-show {
    .block-odd {
      div.description {
        h4, p {
          margin: 0 0 1px;
        }
        .ms-button {
          margin-top: 12px;
        }
      }
    }
    .block-even {
      div.description {
        h4, p {
          margin: 0 0 1px;
        }
        .ms-button {
          margin-top: 33px;
        }
      }
    }
  }
  .top_menu {
    .header-contacts {
      p {
        width: 80% !important;
      }
    }
  }
  .top-header-links-holder {
    padding-left: 0;
    ul {
      li {
        float: left !important;
      }
      li:first-child {
        padding-left: 0;
      }
    }
  }
  #social-autorization {
    p {
      float: left;
    }
  }
  .top_menu_sub {
    .subheader {
      padding-top: 1px;
    }
    .header-contacts {
      padding: 2px 0 0 0;
    }
  }
  .catalog-item-holder {
    .item-holder {
      margin-left: 6%;
      width: 40%;
      .item {
        .image.img-wrap {
          a {
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 990px) {
  #thumbs {
    .slick-list {
      .slick-track {
        .slick-slide {
          margin-left: 8px;
        }
      }
    }
  }
  #similar-preps {
    .item-holder {
      width: 40%;
    }
  }
  .subscribe {
    img {
      width: 100% !important;
      height: auto !important;
    }
  }
  .bottom-slider {
    div {
      img {
        width: 100% !important;
      }
    }
  }
  .slick-slider {
    width: 100%;
    .slick-list {
      .slick-track {
        .slick-slide {
          img {
            width: 100% !important;
            height: auto;
          }
        }
      }
    }
  }
  #main-page-img-sub {
    width: 100%;
    height: 210px;
  }
  .photo_flower_block {
    div.h3 {
      font-size: 15px;
    }
    .layer-main {
      width: 220px;
      top: 33px;
      padding: 0 15px;
      left: 0;
      margin: 0px 15px;
    }
    .photo_flower_block_inner {
      span {
        width: 100%;
        display: block;
        position: relative;
        text-align: center;
        i.fa {
          margin: 0;
        }
      }
      div.text-center {
        font-size: 15px;
      }
      div.text-center:first-child {
        margin-top: 15px;
      }
    }
  }
  #footer {
    .footer-phone-block {
      span {
        font-size: 17px;
      }
    }
  }
  .main_page_item_holder {
    a {
      div.h3 {
        font-size: 13px !important;
      }
    }
  }
  #languages {
    margin-top: 16px;
  }
  .main-menu-holder {
    float: left;
    text-align: right;
    ul {
      li {
        font-size: 18px;
        padding-top: 10px;
        float: left;
      }
    }
  }
  #main-page-img {
    width: 210px;
    height: 210px;
  }
  img#logo-image {
    width: 270px;
    padding-right: 20px;
  }
  .header-contacts {
    padding: 0 !important;
    font-size: 13px;
    p {
      padding-top: 3px;
    }
    #callback-btn2 {
      padding: 5px 3px;
    }
  }
  #social-autorization {
    padding: 0;
    padding-left: 25px;
  }
}

@media only screen and (max-width: 852px) {
  #subheader {
  }
}

@media only screen and (max-width: 780px) {
  #subheader {
    .subheader-top {
      img {
        width: 200px;
      }
      span {
        font-size: 33px;
        font-style: italic;
        color: white;
        background: rgba(255, 255, 255, 0.3);
        height: 95px;
        display: inline-block;
        width: 430px;
        text-align: left;
        padding-top: 26px;
        padding-left: 15px;
        text-transform: lowercase;
        font-family: "Century Gothic";
      }
    }
  }
}

@media only screen and (max-width: 767px) {

  #thumbs {
    width: 50%;
    margin: 0 auto;
  }
  .left-side {
    .left-side-img-holder {
      #item-img {
        img {
          margin: 0 auto;
        }
      }
    }
  }
  #similar-preps {
    .item-holder {
      margin-left: 45px;
    }
  }
  .photo_flower_block {
    .layer-main {
      width: 271px;
      height: 90%;
    }
    .photo_flower_block_inner {
      div.text-center {
        width: 100%;
      }
      div.text-center:first-child {
        margin-top: 55px;
      }
    }
  }
  .wedding_item_holder {
    .wedding_slider {
      button {
        display: none !important;
      }
    }
    .description_block {
      .wd-bg-img {
        width: 65%;
        height: 12%;
        left: 19%;
        display: block;
        margin: 0 auto;
      }
    }
  }
  form#ms-callback {
    width: 450px;
  }
  .blog-content {
    .blog-item {
      .blog-item-img {
        a {
          img {
            width: 105px;
            height: auto;
          }
        }
      }
      .blog-item-text {
        a {
          h2 {
            font-size: 20px;
          }
        }
      }
    }
  }
  #cart {
    form#checkout-form {
      #step2 {
        .cart-bg {
          .cart-right-side {
            .userform.form2 {
              div.delivery {
              }
              p.userform-subheader {
                display: none;
              }
              #date-time {
                div.clockpicker:nth-child(1) {

                }
                div.clockpicker:nth-child(2) {
                  margin-left: 18px !important;
                  margin-top: 0px !important;
                  margin-bottom: 18px !important;
                  i {
                    top: 34px;
                  }
                }
              }
              div {
                button#confirm-btn {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
  div#menu {
    .main-menu-holder {
      .dropdown.visible-xs-block {
        text-align: center;
        button {
          width: 170px;
          height: 29px;
          margin-bottom: 10px;
          padding: 3px;
          background: transparent;
          border: 1px solid;
          border-radius: 0px;
        }
      }
    }
  }
  .top_menu {
    .header-contacts {
      p {
        width: 75% !important;
      }
    }
  }
  .top-slider {
    width: 100% !important;
  }
  .main_page_item_holder {
    margin-left: 5%;
  }
  #main-page-img {
    width: 271px;
    height: 271px;
  }
  .top-header-links-holder {
    ul {
      li.top-header-link {
        width: 33%;
        text-align: center;
      }
    }
  }
  #social-autorization {
    padding-left: 125px;
  }
  #languages {
    text-align: left;
    padding: 5px 0 0 14px;
  }
  .header-contacts {
    text-align: center;
    p {
      display: block;
      float: left;
      width: 89%;
      text-align: right;
    }
    i {
      float: left;
    }
  }
  .top_menu {
    .header-contacts {
      p {
        width: 85% !important;
      }
    }
  }
  #main-page-img-sub {
    width: 67%;
    height: 272px;
  }
  #additional-menu {
    padding-right: 33px;
  }
  #footer {
    #payment-icons {
      .footer-payment-header {
        img {
          width: 50%;
        }
      }
    }
    .footer-phone-block {
      span.footer_number {
        p {
          span {
            font-size: 15px;
          }
        }
        font-size: 15px;
        padding-top: 15px;
        display: block;
        margin: 0 auto;
        float: none;
        text-align: -webkit-center;
      }
    }
  }
  .master-show {
    .sertificate-block {
      .sertificate-block-single:last-child {
        margin-top: 15px;
      }
    }
  }
  #subheader {
    .master-show-contacts {
      p {
        left: 31%;
      }
    }
    .subheader-top {
      img {
        width: 230px;
        padding-top: 7px;
      }
      span {
        font-size: 28px;
      }
      .second {
        top: 90%;
        right: -25%;
      }
    }
  }
}

@media only screen and (max-width: 730px) {
  .wedding_item_holder {
    .wedding_slider {
      .slick-slide {
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
  #menu {
    margin-top: 0;
  }
  .main-menu-holder {
    padding-top: 0;
    ul {
      li.top_menu_items {
        margin-left: 10px;
        font-size: 17px;
      }
    }
  }
  #additional-menu {
    margin-top: -90px;
  }
  .master-show {
    .sertificate-block {
      .sertificate-block-single {
        img {
          width: 185px;
        }
      }
    }
  }
}

@media only screen and (max-width: 676px) {
  #callback-btn-master-show {
    button {
      margin-bottom: 30px;
    }
  }
  #callback-btn-certificate3 {
    width: 33%;
  }
  #subheader {
    .subheader-middle {
      margin-top: 300px;
    }
    .subheader-top {
      img {
        width: 325px;
      }
      span {
        display: block;
        float: right;
        position: relative;
        width: 100%;
      }
    }
  }
  .top_menu {
    .header-contacts {
      p {
        width: 85% !important;
      }
    }
  }
  div#menu {
    .main-menu-holder {
      div.dropdown {
        ul.dropdown-menu {
          li {
            width: 45%;
          }
        }
      }
    }
  }
  .image-left {
    img {
      width: 281px !important;
      height: auto;
    }
  }
  .top-slider {
    div {
      .slick-slide {
        img {
          width: 100% !important;
        }
      }
    }
  }
  #main-page-img {
    width: 233px;
    height: 233px;
  }
  #footer {
    .col-lg-6:nth-child(2) {
      padding-right: 5px;
    }
  }
  .main-menu-holder {
    div.dropdown {
      ul.dropdown-menu {
        width: 100%;
        height: 213px;
        li.top_menu_items {
          margin-left: 0;
          width: 100%;
          text-align: center;
          padding: 12px;
          border-bottom: 1px solid gainsboro;
        }
      }
    }
  }
  #main-page-img-sub {
    height: 230px;
  }
  .photo_flower_block {
    .layer-main {
      width: 233px;
    }
  }
}

@media only screen and (max-width: 633px) {
  #footer {
    #social {
      div {
        a {
          i {
            font-size: 24px;
          }
        }
      }
    }
    .footer-phone-block {
      span.footer_number {
        p {
          font-size: 14px;
        }
      }
    }
  }
  .master-show {
    .sertificate-block {
      .sertificate-block-single {
        p {
          padding: 0;
        }
        img {
          width: 160px;
        }
      }
    }
  }
  #subheader {
    .subheader-top {
      img {
        width: 175px;
      }
      span {
        font-size: 27px;
        font-style: italic;
        color: white;
        background: rgba(255, 255, 255, 0.3);
        height: 58px;
        display: inline-block;
        width: 400px;
        text-align: left;
        padding-top: 0px;
        padding-left: 10px;
        text-transform: lowercase;
        font-family: "Century Gothic";
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .main-menu-holder {
    ul {
      li.top_menu_items {
        margin-left: 7px;
      }
    }
  }
}

@media only screen and (max-width: 597px) {
  .image-left {
    img {

    }
  }
}

@media only screen and (max-width: 583px) {
  .wedding_item_holder {
    .description_block {
      .item_description {
        padding: 0 10px;
      }
    }
  }
  .top_menu {
    .header-row {
      .top_menu_holder {
        .top_menu {
          .header-contacts {
            width: 60%;
            p {
              width: 85% !important;
            }
          }
        }
      }
    }
  }
  #social-autorization {
    width: 40%;
    margin-left: 0;
    float: right;
  }
  #similar-preps {
    .item-holder {
      width: 60%;
      margin: 0 auto;
    }
  }
  #buy-btn {
    margin-left: 0;
  }
  .right-side {
    text-align: center;
    #tsina {
      text-align: center !important;
      p {
        float: none;
      }
    }
  }
  #thumbs {
    width: 65%;
  }
  #share {
    float: none;
  }
  .catalog-item-holder {
    .item-holder {
      float: left;
      .item {
        .image.img-wrap {
          height: 175px;
          a {
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
  .bottom-slider {
    div {
      width: 100%;
    }
  }
  .top-slider {
    div {
      .third {
        top: 165px;
        left: 110px;
      }
      .second {
        top: 100px;
      }
    }
  }
  .item-holder {
    width: 80%;
    float: none;
    margin: 0 auto;
    .item {
      .image {
        a {
          img {
            width: 220px;
            height: auto;
          }
        }
      }
    }
  }
  .master-show {
    .sertificate-block {
      .sertificate-block-single:last-child {
        margin-top: 15px;
      }
    }
  }
  #subheader {
    button {
      width: 75%;
    }
    .subheader-top {
      margin-bottom: 30px;
    }
    .subheader-middle {
      margin-top: 200px;
    }
    .subheader-top {
      img {
        width: 200px;
      }
      span {
        font-size: 23px;
        font-style: italic;
        color: white;
        background: rgba(255, 255, 255, 0.3);
        height: 77px;
        display: inline-block;
        width: 55%;
        text-align: left;
        padding-top: 0px;
        padding-left: 10px;
        text-transform: lowercase;
        font-family: "Century Gothic";
      }
    }
    .master-show-contacts {
      float: left;
    }
  }
  .wedding_item_holder {
    .wedding_slider {
      .slick-slide {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .description_block {
      .wd-bg-img {
        width: 100%;
        left: 0;
      }
    }
  }
}

@media only screen and (max-width: 564px) {
  #main-page-img-sub {
    width: 24%;
    left: 137px;
  }
  .photo_flower_block {
    .layer-main {
      width: 250px;
      left: 123px;
      top: 29px;
    }
  }
  .wedding_item_holder {
    .wedding_slider {
      .slick-slide {
        img {
          width: 100%;
          height: 100%;
          padding: 0;
        }
      }
    }
  }
  div#menu {
    .main-menu-holder {
      div.dropdown {
        ul.dropdown-menu {
          li {
            width: 100%;
            text-align: center;
            border-bottom: 1px solid gainsboro;
          }
        }
      }
    }
  }
  .main_page_item_holder {
    width: 100%;
    margin-left: 0;
  }
  #main-page-img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
  }
  #social-autorization {
    padding-left: 50px;
  }
}

@media only screen and (min-width: 501px) {
  .header-contacts {
    p.visible {
      display: none;
      padding: 0;
    }
  }
}

@media only screen and (max-width: 500px) {

  #thumbs {
    width: 350px;
  }
  .cart-header {
    font-size: 23px;
    width: 100%;
    text-align: right;
    margin-left: 0;
  }
  .row.top_menu {
    #social-autorization {
      width: 45%;
      margin-left: 0;
    }
    .header-contacts {
      width: 45%;
      p {
        display: none;
        width: 70% !important;
      }
      p.visible {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 433px) {
  #subheader {
    .subheader-top {
      .second {
        right: -15%;
      }
      img {
        width: 190px;
      }
    }
  }
  .top-slider {
    div {
      .second {
        top: 185px !important;
      }
    }
  }
  .wedding_item_holder {
    .description_block {
      .item_description {
        padding: 15px;
      }
    }
  }
  .catalog-item-holder {
    .item-holder {
      margin-left: 10%;
      float: left;
      width: 75%;
      .item {
        .image.img-wrap {
          height: auto;
          a {
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
  #cart {
    form#checkout-form {
      #step2 {
        .cart-bg {
          .cart-right-side {
            .userform.form2 {
              div.delivery {
              }
              p.userform-subheader {
                display: none;
              }
              #date-time {
                div.clockpicker:nth-child(1) {
                  width: 100%;
                  margin-bottom: 15px;
                  i {
                    left: 330px;
                    margin-left: 0;
                  }
                }
                div.clockpicker:nth-child(2) {
                  margin-left: 0 !important;
                  margin-top: 0px !important;
                  margin-bottom: 18px !important;
                  width: 100%;
                  i {
                    top: 83px;
                    left: 175px;
                  }
                }
              }
              div {
                button#confirm-btn {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .top_menu_sub {
    .header-contacts {
      width: 100%;
    }
  }
  #date-time {
    div.clockpicker {
      i {
        display: none;
      }
    }
  }
  #upload-photo {
    width: 300px;
    div.form-group {
      label[for='somename'] {
        display: block;
        float: left;
      }
      input[type='file'] {
        margin-right: 10px;
        padding: 2px;
      }
    }
  }
  #mp-callback-form {
    width: 300px;
  }
  .top-slider {
    height: 590px;
    div {
      .slick-slide {
        img {
          width: 100% !important;
          height: 270px !important;
        }
      }
    }
  }
  .item-holder {
    width: 100%;
    float: none;
    margin: 0 auto;
    .item {
      .image {
        a {
          img {
            width: 220px;
            height: auto;
          }
        }
      }
    }
  }
  #footer {
    #payment-icons {
      .footer-payment-header {
        img {
          width: 100%;
        }
      }
    }
  }
  .master-show {
    .sertificate-block {
      .sertificate-block-single {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 378px) {
  #similar-preps {
    .item-holder {
      .img-wrap {
        width: 100%;
      }
    }
  }
  #subheader {
    .subheader-top {
      .second {
        top: 185%;
      }
      span {
        width: 85%;
      }
    }
  }
  .left-side-img-holder {
    width: 100%;
    a#item-img {
      img {
        width: 100% !important;
      }
    }
  }
  #additional-menu {
    padding-right: 15px;
  }
  #similar-preps {
    .item-holder {
      width: 80%;
      .item {
        .image {
          a {
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .left-side {
    .left-side-img-holder {
      #item-img {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .row.top_menu {
    #social-autorization {
      width: 50% !important;
      i {
        width: 17px;
      }
    }
    .header-contacts {
      p.visible {
        width: 80% !important;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  form#certificate-form {
    width: 300px;
  }
  #subheader {
    .subheader-top {
      span {
        height: 47px;
        width: 100%;
      }
      .second {
        right: -20%;
        top: 150%;
      }
    }
  }
  .master-show {
    .sertificate-block {
      .sertificate-block-single {
        margin-top: 15px;
      }
    }
  }
  #callback-btn-certificate3 {
    width: 100%;
  }
  #logo-image {
    width: 215px !important;
  }
  #additional-menu {
    margin-top: -75px;
  }
  .main-menu-holder {
    padding-top: 15px;
    padding-bottom: 20px;
  }
  #subheader {
    .subheader-top {
      span {
        font-size: 18px;
        padding-top: 5px;
      }
      span.second {
        font-size: 17px;
        padding-left: 105px;
        padding-top: 5px;
      }
    }
  }
  .master-show {
    .block-even {
      img {
        width: 250px;
        height: auto;
      }
    }
  }
  .wedding_item_holder {
    .description_block {
      .item_description {
        padding: 0;
        p {
          font-size: 12px;
        }
      }
    }
    .wedding_slider {
      .slick-current {
        top: -90px;
        width: 200px !important;
        height: 200px !important;
        padding-left: 5px;
        img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}