body{
    font-family: Proxima;
    font-size: 18px;
}
header{
    padding: 15px 0;
}
#scroll_line{
    position: fixed;
    top:0;
    width: 0;
    height: 0;
}
header a,
header a:hover{
    text-decoration: none;
}
.home header.scroll,
header{
    background-color: #1b2a48;
    width: 100%;
    min-height: 65px;
    z-index: 8000;
}

.home header{
    background-color: transparent;
    position: fixed;
}
.home h1{
    font-size: 18px !important;
}
header .container{    
    position: relative;
}
#more_products_u{
    display: none !important;
}
header #menu_line {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}
header #logo img{
    max-width: 100%;
}
#logo_block{
    position: static;
}
header:not(.scroll) #logo_block:before{
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    right: 0;
    height: 1px;    
    background: rgba(239, 239, 239, 0.18);
}
header ul ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#site_menu_mobile button{
    background-color: #e3e3e3;
    color: #1b2a48;
}
#site_menu_mobile button:after{
    display: none;
}
#site_menu_mobile ul{
    min-width: 180px;
    top: 28px !important;
}
#site_menu_mobile ul ul{
    margin-left: 14px;
}
header ul > li{
    list-style-type: none;
}
#site_menu .sub_menu{
    display: none;
    margin-left: 10px;
}
#site_menu a{
    font-family: Proxima;
    text-transform: uppercase;
    color: #e3e3e3;
    font-size: 14px;
    transition: .3s;
}
#site_menu li, #params_menu li{
    position: relative;
}
header:not(.scroll) #site_menu > li:before, header:not(.scroll) #params_menu > li:before{
    content: "";
    position: absolute;
    bottom: -20px;
    right: 100%;
    left: 100%;
    height: 3px;
    background: rgba(253, 227, 209, 0.66);
    transition: .3s;
}
header:not(.scroll) #site_menu li:hover:before, header:not(.scroll) #params_menu li:hover:before{
    left: 0;
    right: 0;
}
#site_menu a:hover{
    color: #ecceba;
}
#params_menu li#currencies_item span,
#params_menu li#langs_item span,
#phone_item a{
    color: #e3e3e3;
}
#params_menu li#phone_item a#header_phone i{
    font-size: 16px;
}
header #menu_block .dropdown-toggle:after{
    display: none !important;
}
header #site_menu a.dropdown-toggle i{
    margin-left: 5px;
}

#phone_item i.fas.fa-phone{
    transform: rotate(90deg);
}
#site_menu > li{
    position: relative;
}
#site_menu > li:hover:after{
    display: none;
    position: absolute;
    width: 104%;
    left: -2%;
    bottom: -8px;
    content: '';
    border-bottom: 1px solid #e3e3e3;
}
#site_menu > li.show:hover:after{
    display: none;
}
#params_menu > li,
#site_menu > li{
    display: inline-block;
    padding: 0 14px;
}
#params_menu ul{
    /*display: none;*/
}
#params_menu li#currencies_item span,
#params_menu li#langs_item span{
    cursor: pointer;
}
#params_menu li#cart_item{
    position: relative;
    width: 25px;
    margin: 0 14px;
}
#params_menu li#cart_item img,
#params_menu li#cart_item span{
    position: absolute;
    top: 2px;
    left: 0px;
    z-index: 10;
}
#params_menu li#cart_item span{
    left: 0px;
    width: 12px;
    text-align: center;
    font-size: 8px;
    color: #fff;
    z-index: 50;
}
#params_menu ul a{
    display: block;
    text-align: center;
}
#params_menu ul.dropdown-menu{
    min-width: 4rem;
}
#params_menu #phone_item .dropdown-menu{
    /*max-width: 10rem;*/
    text-align: center;
}
#params_menu #phone_item span{
    display: block;
    white-space: nowrap;
    font-family: Proxima;
    margin-bottom: 8px;
}
#params_menu #phone_item span:last-child{
    margin-bottom: 0;
}
#langs_item *{
    text-transform: uppercase;
}
header .dropdown-menu{
    margin: 0px;
    top: 23px !important;
    left: -20px !important;
    border-radius: 0 !important;
    padding: 15px;
    background-color: rgba(255,255,255,0.85);
}

header  #phone_item .dropdown-menu,
header  #site_menu .dropdown-menu{
    top: 20px !important;
}
header  #params_menu ul.dropdown-menu{
    top: 39px !important;
}
header #menu_line .dropdown-menu li:last-child{
    margin-bottom: 0;
}
/*header .dropdown-menu:before{
    display: block;
    content: '';
    background-image: url('../img/sub_menu_icon.png');
    width: 23px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: -15px;
}*/
#params_menu li#currencies_item .dropdown-menu:before,
#params_menu li#langs_item .dropdown-menu:before{
    right: 8px;
}
header #menu_line .dropdown-menu a{
    color: #1b2a48;
    text-transform: none;
}
header #menu_line .dropdown-menu li.selected a{
    font-family: Proxima;
    font-weight: bold;
}
header #menu_line .dropdown-menu a:hover{
    font-weight: bold;
}
#params_menu li#langs_item,
#params_menu li#currencies_item{
    font-family: Proxima;
}
header #site_menu .dropdown-menu li{
    min-width: 160px;
}
header #menu_line .dropdown-menu li{
    margin-bottom: 8px;
}

.home footer.scroll,
footer{
    position: fixed;
    left:0px;
    bottom: 0px;
    width: 100%;
    min-height: 50px;
    line-height: 50px;
    background-color: #1b2a48;
    z-index: 1000;
    font-size: 16px;
}
.home footer,
.home header{
    transition: .3s;
}
.home header:not(.scroll){    
    height: 65px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.home footer{
    background-color: transparent;
}
footer #phones{
    font-size: 15px;
    font-family: Proxima;
}
footer .list-inline-item{
    font-size: 15px;
    font-family: Proxima;
}
footer #phones span{
    margin: 0 10px;
    white-space: nowrap;
    color: #fff !important;
}
footer,
footer a{
    font-family: Proxima;
    color: #fff;
}
#content_section img{
    max-width: 100%;
}
#content_section{
    padding-bottom: 120px;
}

/*MainPage*/
#home_slider .carousel-item {
    height: 80vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#home_slider .carousel-caption{
    position: relative;
    left: 0;
    z-index: 10;
    text-align: left;
    width: 50%;
    right: inherit;
    bottom: inherit;
    height: 70vh;
    margin-top: 10%;
    margin-top: 15vh;
}
#home_slider .carousel-caption .title{
    display: block;
    margin-top: 50%;
    color: #fff;
    line-height: 1;
    font-size: 50px;
    font-family: Georgia;
    font-style: italic;
    transform: translateY(-50%);
}
#home_slider_arrows{
    display: none;
}
/*#home_slider .carousel-caption .title:before{
    display: block;
    position: relative;
    top: -14px;
    content: '';
    height: 23px;
    background-image: url("../img/caption_title.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}*/
#home_slider .carousel-caption .link{
    position: relative;
    display: inline-block;
    font-family: Georgia;
    font-style: italic;
    color: #fff;
    font-size: 18px;
    border: 1px solid rgba(239, 239, 239, 0.4);
    padding: 10px 50px;
    text-decoration: none;   
    transition: .3s; 
    margin-top: 30px;
}
#home_slider .carousel-caption .link:hover{
    color: #ecceba;
    border-color: #ecceba;
}
/*#home_slider .carousel-caption .link:after{
    display: inline-block;
    position: relative;
    margin-left: 10px;
    top: 2px;
    left: 0;
    content: '';
    background-image: url("../img/home_slider_link.png");
    background-repeat: no-repeat;
    background-position: left center;
    width: 24px;
    height: 17px;
}*/
#home_slider .carousel-indicators{
    bottom: 10%;
    left: 0;
}
#home_slider .carousel-indicators li{
    cursor: pointer;
}
#home_slider .container{
    position: relative;
}
#home_slider .carousel-indicators{
    text-align: center;
    justify-content:center;
    margin: 0;
    bottom: inherit;
    top: -100px;
}
#home_slider .carousel-indicators li{
    width: 11px;
    height: 11px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}
#home_slider .carousel-indicators li.active{
    background-color: #fff;
    border-color: #fff;
}
section#categories{
    background-color: #fff;
    padding: 60px 0;
}
.home section#categories{
    padding-bottom: 10px;
}
.section-title{
    text-align: center;
    font-family: Georgia !important;
    font-size: 40px !important;
    color: #182847;
    margin-bottom: 60px !important;
}
#main_content .content.page-content[data-read_more],
.home .content.page-content[data-read_more]{
    overflow: hidden;
}
#main_content .content.page-content.open[data-read_more],
.home .content.page-content.open[data-read_more]{
    height: auto !important;
}
#main_content span{
	display: block;
	line-height: 1.3 !important;
}
#main_content h1{
	text-align: justify;
}
#wedding_design .wedding_item .item_text_w .item_text{
	text-align: justify;
}
#main_content .read_more_content,
.home .read_more_content{
    cursor: pointer;
    font-size: 17px;
    font-family: Proxima;
    line-height: 25px;
    color: #919191;
}
.page-content h2{
    font-family: Proxima;
}
.page-content p{
    font-size: 17px;
    font-family: Proxima;
    line-height: 25px;
    color: #919191;
}
.page-content p:last-child{
    margin-bottom: 0;
}
section#categories .category_item{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    transition: all linear 0.5s;
    overflow: hidden;
}
section#categories .category_item:hover .title{
    color: #ecceba;
}
section#categories .category_item a{
    display: block;
    position: relative;
    text-decoration: none;
}
section#categories .category_item img.category_item_img{
    display: block;
    height: 210px;
    width: 100%;
    border: 1px solid #f1f1f1;
    border-bottom: 0;
    object-fit: cover;
    transition: all linear 0.5s;
}
section#categories .category_item:hover img.category_item_img{
    opacity: 0.55;
}
section#categories .category_item:hover .photo_flower_block_inner + img.category_item_img{
    opacity: 1;
}
section#categories .category_item .title{
    display: block;
    width: 100%;
    padding: 0px 12px;
    font-family: Georgia;
    font-style: italic;
    font-size: 20px;
    color: #051226;
    border: 1px solid #f1f1f1;
    height: 47px;
    line-height: 47px;
    overflow: hidden;
    transition: .3s;
}
section#categories .category_item .title > img{
    display: inline-block;
    margin: 0 8px;
    max-width: 15%;
}
section#categories .category_item .photo_flower_block_inner{
    display: block;
    position: absolute;
    top:0px;
    right: 0px;
    left: 0px;
    bottom: 47px;
    width: 100%;
    padding-top: 16%;
    background-color: rgba(24,40,71,0.6);
    color: #fff;
    font-family: Proxima;
    font-size: 18px;
    opacity: 0;
    transition: all linear 0.5s;
}
section#categories .category_item .photo_flower_block_inner span{
    font-size: 30px;
    cursor: pointer;
}
section#categories .category_item:hover .photo_flower_block_inner{
    opacity: 1;
}


section#blog{
    padding: 50px 0;
    background-color: #eff2f9;
}
section#blog a{
    color: #99999b;
    font-family: Proxima;
}
section#content_section a.more_news,
section#blog a.more_news{
    font-size: 17px;
    font-family: Georgia;
    color: #99999b;
}
section#blog img.blog_u{
    position: absolute;
    top: -186px;
    left: 0;
    display: none;
}
section#blog h2{
    font-family: Proxima;
    font-size: 50px;
    margin-bottom: 60px !important;
}
section#blog .blog_item{
    height: 264px;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 30px 7px rgba(81, 81, 85, 0.06);
}
section#blog .item_text{
    padding: 30px;
}
section#blog .item_text h3{
    font-family: Proxima;
    font-size: 24px;
    color: #182847;
    cursor: pointer;
}
section#blog .item_text span,
section#blog .item_text p{
    font-family: Proxima;
    font-size: 14px;
    color: #99999b;
}
section#blog .item_text span{
    display: block;
    margin: 10px 0;
    font-size: 14px;
}
section#blog .blog_item .item_img *{
    display: block;
    height: 100%;
}
section#blog .blog_item .blog_img{
    object-fit: cover;
    width: 100%;
}
section#main_content{
    padding-top: 60px;
}

#breadcrumb{
    padding: 30px 0;
    font-family: Proxima;
    font-size: 16px;
}
#breadcrumb > div{
    display: inline-block;
}
#breadcrumb a{
    color: #a8a19e;
}
/*Blog*/
.shop #content_section,
.page #content_section,
.blog #content_section{
    background-color: #f0eae8;
    padding-top: 22px;
    padding-bottom: 120px;
}
.product #content_section,
.shop #content_section,
.page #content_section{
    padding-bottom: 60px;
}
#content_section #container,
.blog #content_section section#blog{
    background-color: #fff;
    padding: 10px 0;
    padding-bottom: 10px;
}
#content_section h1,
.product #content_section h1,
.page #content_section h1{
    font-family: Proxima;
    font-size: 48px;
    color: #182847;
    margin-bottom: 0px;
}
.page #content_section h3,
.page #content_section h2{
    font-family: Georgia;
    font-size: 30px;
    color: #182847;
    margin-top: 40px;
    margin-bottom: 20px;
}
.page #content_section h3{
    font-size: 24px;
}
.page #content_section ul,
.page #content_section p{
    font-size: 18px;
    font-family: Proxima;
    color: #99999b;
}
.page #content_section img{
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/*Catalog*/
aside#categories{
    padding: 30px;
    color: #182847;
    box-shadow: 0px 0px 6px rgba(39,37,53,0.22);
    position: relative;
}
aside#categories #aside_u{
    position: absolute;
    bottom: -164px;
    left: 48px;
    display: none !important;
}
aside#categories > *{
    font-family: Proxima;
}
aside#categories h3{
    font-family: Proxima;
    font-size: 30px;
    color: #182847;
    margin-bottom: 30px;
}
aside#categories ul{
    margin: 0;
    padding: 0;
}
aside#categories ul li{
    list-style: none;
    width: 100%;
    margin-bottom: 8px;
    margin-left: 16px;
    position: relative;
}
aside#categories a{
    color: #182847;
    display: inline-block;
    text-decoration: none;
}
aside#categories li a:hover,
aside#categories li.active a{
    font-weight: 700;
}
aside#categories li:hover:before,
aside#categories li.active:before{
    position: absolute;
    display: inline-block;
    left: -14px;
    top: 0;
    font-family: "Font Awesome\ 5 Free";
    content: "\f105";
    font-weight: 900;
}
section#catalog h1{
    display: none;
    font-family: Proxima;
    font-size: 50px;
    margin-bottom: 30px;
    color: #182847;
    margin-top: -10px;
    line-height: 1;
}
.shop #content_section #container{
    padding-top: 0;
}
section#catalog .item_product{
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #F1F1F1;
}
section#catalog .item_product .price,
section#catalog .item_product .name{
    height: 50px;
    line-height: 50px;
    width: 100%;
    overflow: hidden;
    vertical-align: middle !important;
    text-align: center;
    font-family: Georgia;
    color: #afaeae;
    font-size: 22px;
}
section#catalog .item_product .name{
    color: #051226;
    /*font-size: calc(10px + (22px - 10px) * ((100vw - 216px) / (100vw - 996))) !important;*/
    font-size: 20px !important;
    text-align: center;
}
section#catalog .item_product .price{
    text-transform: lowercase;
}
section#catalog .item_product .price span,
section#catalog .item_product .name span{
    position: relative;
}
/*section#catalog .item_product .price span:before,
section#catalog .item_product .name span:before{
    position: relative;
    top:3px;
    margin-right: 12px;
    display: inline-block;
    content: '';
    background-image: url("../img/product_left.png");
    width: 24px;
    height: 17px;
}
section#catalog .item_product .price span:after,
section#catalog .item_product .name span:after{
    position: relative;
    top:3px;
    display: inline-block;
    content: '';
    background-image: url("../img/product_right.png");
    width: 24px;
    height: 17px;
    margin-left: 12px;
}*/
body section#catalog .item_product .name span:before,
body section#catalog .item_product .name span:after{
    position: absolute !important;
    margin: 0;
}
body section#catalog .item_product .name span:before{
    left: -30px;
}
body section#catalog .item_product .name span:after{
    right: -30px;
}
section#catalog .item_product .price{
    background-color: #FBF9F8;
}
section#catalog .item_product:hover{
    box-shadow: 0px 0px 6px rgba(39,37,53,0.22);
}
section#catalog .item_product .more_link{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
section#catalog .item_product .product_links{
    position: absolute;
    top: 40%;
    left: 0px;
    width: 100%;
    text-align: center;
}
section#catalog .item_product .product_links i.fas.fa-phone{
    transform: rotate(90deg);
}
section#catalog .item_product .product_links a{
    display: inline-block;
    margin: 8px;
    width: 50px;
    height: 50px;
    background-color: #F0EAE8;
    border-radius: 50%;
    line-height: 50px;
    color: #A8A19E;
}
section#catalog .item_product .product_links a:hover{
    background-color: #A8A19E;
    color: #F0EAE8;
}
section#catalog .item_product:hover .product_links{
    display: block !important;
}
section#catalog .item_product:hover .item_img_wrap img{
    opacity: 0.7;
}
section#catalog .item_img_wrap img{
    display: block;
    height: 210px;
    width: 100%;
    border-bottom: 0;
    object-fit: cover;
}
section#catalog #sort{
    margin-bottom: 20px;
    text-align: right;
    margin-top: -6px;
}
section#catalog #sort,
section#catalog #sort a,
section#catalog #sort *{
    font-family: Proxima;
    font-size: 18px;
    color: #a8a19e;
}
section#catalog #sort a#sort_items{
    text-decoration: underline;
}
section#catalog #sort a#sort_items:after{
    display: none;
}
section#catalog #sort a#sort_items i.fas {
    font-family: "Font Awesome\ 5 Free";
}
section#catalog #sort ul.dropdown-menu{
    padding: 1rem;
    border-radius:0px;
}

#content_section .pagination{
    display: block;
    font-family: Proxima;
    font-size: 18px;
    text-align: center;
    width: 100%;
}
#catalog .pagination{
    text-align: right;
}
section#catalog #main_content .content.page-content p{
    color: #919191;
}
section#catalog #main_content .content.page-content h5,
section#catalog #main_content .content.page-content h4,
section#catalog #main_content .content.page-content h3,
section#catalog #main_content .content.page-content h2{
    color: #182847;
}
#content_section .pagination a{
    color: #a69f9c;
}
#content_section .pagination li.active span{
    color: #0f244c;
}
#content_section .pagination li{
    padding: 0 4px;
    display: inline-block;
}
#content_section .pagination li *{
    vertical-align: text-top;
    font-family: Georgia;
    font-size: 18px;
}


#product #gallery .gallery{
    display: block;
}
#product #gallery .gallery img{
    width: 100%;
    object-fit: cover;
}
#product #gallery .gallery_main{
    margin-bottom: 20px;
}
#product #thumbs .gallery{
    margin-right: 20px;
}
#product #thumbs .slick-slide:last-child .gallery{
    margin-right: 0;
}
#product #thumbs .gallery img{
    max-width: 78px;
}
#product #thumbs{
    margin-bottom: 30px;
}
#product #product_price span{
    font-family: Proxima;
    font-size: 30px;
    color: #a7a09d;
}
#product #product_price{
    margin-bottom: 20px;
}
.product #product h1{
    margin-bottom: 20px !important;
}
#product #description{
    font-family:lato-regular;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: #525252;
    margin-bottom: 40px;
    text-align: justify;
}
#product #count_box{
    display: inline-block;
    position: relative;
    border: 1px solid #A0A0A0;
    color: #919191;
    font-family: Proxima;
    font-weight: 300;
}
#product #count_box input:focus,
#product #count_box input{
    width: 120px;
    border: none;
    outline: none;
    text-align: center;
}
#product #count_box input{
    padding-left: 8px;
}
#product #count_box span{
    display: inline-block;
    position: absolute;
    top:0px;
    bottom: 0px;
    cursor: pointer;
    /*border: 1px solid red;*/
    width: 34px;
    text-align: center;
    background-color: #fff;
}
#product #count_box span#count_up{
    right: 0;
}
#product #count_box span#count_down{
    left: 0;
}
#product #count_box input,
#product #count_box span{
    height: 34px;
    line-height: 34px;
}
.vdz_btn,
#cart #cart_recalc,
#product #payment a,
#product #payment button{
    height: 34px;
    line-height: 32px;
    min-width: 120px;
    padding: 0 20px;
    text-align: center;
    color: #919191;
    font-family: Proxima;
    display: inline-block;
    border: none;
    background-color: #F0EAE8;
    box-shadow: 2px -2px 0 #E5E5E5;
    cursor: pointer;
    text-decoration: none;
    vertical-align: bottom;
}
#product #payment button{
    margin-right: 20px;
}
.vdz_btn:focus,
#cart #cart_recalc:focus,
#product #payment a:focus,
#product #payment button:focus{
    outline: none;
}
.vdz_btn:hover,
#cart #cart_recalc:hover,
#product #payment a:hover,
#product #payment button:hover{
    background-color: #E5E5E5;
    box-shadow: 2px -2px 0 #F0EAE8;
    text-decoration: none;
    color: #182847;
}
#cart_table tbody{
    padding: 40px 0;
}
#cart td.btns a{
    margin-bottom: 20px;
}
#product #payment a#buy_btn{
    margin: 0 18px;
    font-family: Proxima;
    font-weight: 300;
}
#more_products{
    position: relative;
    background-color: #F6F6F6;
    padding-top: 40px;
    padding-bottom: 60px;
}
#more_products img#more_products_u{
    position: absolute;
    right: 80px;
    top: -130px;
}
#more_products h3{
    text-align: center;
    font-family: Proxima;
    font-size: 30px;
    margin-bottom: 40px;
}
.product section#catalog .item_product .name{
    background-color: #fff;
}
.modal-content{
    border-radius: 0px !important;
}
.modal-header{
    border: none;
}
.modal h3{
    font-family: Proxima;
    font-size: 38px;
    color: #182847;
    margin-bottom: 16px;
}
.modal .clabel{
    font-family: Proxima;
    font-size: 20px;
    color: #182847;
}

#upload_photo_form form div.form-group input{
    border-radius: 0;
}
#upload_photo_form form input[name="phone"],
#upload_photo_form form input[name="email"],
#upload_photo_form form input[name="name"]{
    width: 100%;
    border: 1px solid gainsboro!important;
    margin:0 auto;
    line-height: 36px;
    height: 36px;
    padding: 0 10px;
}
#upload_photo_form form input[type="file"]{
    width: 60%;
    display: block;
}
#upload_photo_form form input[name="file"]{
    opacity: 0;
    position: absolute;
    z-index: -1;
}
#upload_photo_form form label[for='file']{
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding-left: 150px;
    font-family: Proxima;
    font-weight: 500;
    font-size: 18px;
    color: #919191;
    line-height: 36px;
}
#upload_photo_form #falseinput{
    padding: 3px 8px;
    background: transparent;
    border: 1px solid gainsboro;
    color: #959595;
    display: block;
    float: left;
    margin-right: 5px;
}
#upload_photo_form #falseinput,
#upload_photo_form form input[name="phone"],
#upload_photo_form form input[name="email"],
#upload_photo_form form input[name="name"]{
    font-family: Proxima;
    font-weight: 300;
    font-size: 18px;
    color: #919191;

}
.modal .form-control:focus,
#upload_photo_form .form-control:focus{
    box-shadow: none;
}
.modal button[type=submit]{
    font-family: Proxima;
    font-size: 18px;
    color: #919191;
    min-width: 176px;
    height: 36px;
    line-height: 26px;
    background-color: #F0EAE8;
    box-shadow: -2px 2px 0 #E5E5E5;
    width: 176px !important;
    margin: 0 auto;
    padding: 0px;
    cursor: pointer;
}
.modal button[type=submit]:hover{
    background-color: #E5E5E5;
    box-shadow: -2px 2px 0 #F0EAE8;
}

/*SWALL*/
.swal-title{
    font-family: Proxima;
}

/**BuyOneClick**/
#buy_one_click_modal{

}
#buy_one_click_modal .modal-dialog{
    width: 600px;
    max-width: 100%;
}
#buy_one_click_modal table{
    margin-bottom: 18px;
}
#buy_one_click_modal table td{
    vertical-align: middle;
    width: 25%;
}
#buy_one_click_modal table td img{
    width: 100px;
    max-width: 100%;
}
#buy_one_click_modal table td#popup_product_name,
#buy_one_click_modal table td#popup_product_price{
    padding: 0 3.5px;
    text-align: center;
    font-family: Proxima;
    font-size: 24px;
    color: #182847;
    line-height: 1.1em;
}
#popup_product_count_box{
    display: inline-block;
    position: relative;
    border: 1px solid #A0A0A0;
    color: #919191;
    font-family: Proxima;
    font-weight: 300;
}
#popup_product_count_box input:focus,
#popup_product_count_box input{
    width: 120px;
    border: none;
    outline: none;
    text-align: center;
}
#popup_product_count_box span{
    display: inline-block;
    position: absolute;
    top:0px;
    bottom: 0px;
    cursor: pointer;
    /*border: 1px solid red;*/
    width: 34px;
    text-align: center;
    background-color: #fff;
}
#popup_product_count_box span#popup_product_count_up{
    right: 0;
}
#popup_product_count_box span#popup_product_count_down{
    left: 0;
}
#popup_product_count_box input,
#popup_product_count_box span{
    height: 34px;
    line-height: 34px;
}

/*Cart*/
#cart{
    font-family: Proxima;
}
#cart table{
    color: #a8a19e;
    width: 100%;
}
#cart table .price{
    max-width: 60px;
}
#cart table .quantity{
    max-width: 130px;
}
#cart table .photo{
    width: 15%;
}
#cart table .photo img{
    width: 145px;
    max-width: 100%;
}
#cart table .name{
    width: 50%;
}
#cart table td.price,
#cart table td.name *{
    font-family: Proxima;
    color: #a7a09d;
    font-size: 24px;
}
#cart table .remove *{
    color: #a7a09d;
}
#cart table .remove a{
    font-size: 30px;
}
#cart table .quantity{
    width: 15%;
}
#cart table .quantity input{
    font-family: Proxima;
    font-weight: 300;
    font-size: 18px;
}
#cart table .price{
    width: 15%;
}
#cart table .name,
#cart table .quantity,
#cart table .price{
    padding: 0 20px;
}
#cart table .remove{
    width: 5%;
}
#cart table th,
#cart table td{
    vertical-align: middle;
}
#cart table thead th{
    font-size: 20px;
    font-weight: normal;
    border-bottom: 1px solid #F0EAE8;
}
#cart table tbody tr:first-child td{
    padding-top: 40px !important;
}
#cart table tbody tr td{
    padding-bottom: 40px !important;
}
#cart table tfoot tr:first-child td{
    border-top: 1px solid #F0EAE8;
    padding: 30px 0;
}
#cart table tfoot tr td.total,
#cart table tfoot tr td.btns{
    padding: 10px 0;
}
#cart table tfoot tr td.btns a:last-child{
    margin-left: 30px;
}
#cart table tfoot tr td.total{
    font-family: Proxima;
    font-size: 24px;
    color: #182847;
}
#cart .input_count_wrap{
    /*display: inline-block;*/
    position: relative;
}
#cart .input_count_wrap span{
    /*position: absolute;*/
}
#cart .count_add,
#cart .count_down{
    display: block;
    width: 25%;
    text-align: center;
    height: 2.5rem;
    padding: 0.5rem;
    cursor: pointer;
}
#cart .count_add{
    float: right;
    border-left: none;
}
#cart .count_down{
    float: left;
    border-right: none;
}
#cart input.product_count{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 50%;
    border: none;
    outline: none;
}
#cart .input_count_wrap{
    border: 1px solid #A0A0A0;
}
.vdz_btn_dark,
#cart #cart_checkout{
    background-color: #1B2A48;
    background-color: rgba(27, 42, 72, 1);
    color: #fff;
}
.vdz_btn_dark:hover,
#cart #cart_checkout:hover{
    background-color: rgba(27, 42, 72, 0.7);
    color: #fff;
}
/*ORDER_FORM*/
#order_form section{
    position: relative;
    margin-bottom: 10px;
    border-left: 1px solid #E3E3E3;
    padding-left: 40px;
}
#order_form section .slabel{
    position: absolute;
    top: 0px;
    left: -25px;
    border-radius: 50%;
    color: #182847;
    background-color: #fff;
    font-family: Georgia;
    font-size: 50px;
    height: 50px;
    line-height: 25px;
    width: 50px;
    text-align: center;
}
#order_form section .s_content{
    padding-bottom: 50px;
    font-size: 18px;
    font-family: Proxima;
    font-weight: 300;
    color: #182847;
}
#order_form section .s_content label{
    display: block;
    font-size: 24px;
    margin-bottom: 0;
    font-family: Proxima;
}
#order_form section .s_content label.payment_method_label,
#order_form section .s_content label.postcard_label,
#order_form section .s_content label.delivery_anonym_label{
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
}
#order_form section .s_content label.payment_method_label{
    display: block;
    margin-bottom: 10px;
}
#order_form section .s_content label.payment_method_label input[type="radio"]{
    margin-right: 10px;
}
#order_form section:last-child .s_content{
    padding-bottom: 0;
}
#order_form section .s_content .s_header{
    font-family: Proxima;
    font-size: 30px;
    color: #182847;
}
#order_form .dropdown.bootstrap-select{
    width: 100%;
}
#order_form .dropdown.bootstrap-select .dropdown-item.active,
#order_form .dropdown.bootstrap-select .dropdown-item:active{
    background-color: transparent;
    font-family: 
    font-weight: 600;
    color: #182847 !important;
}
#order_form .dropdown.bootstrap-select *{
    color: #182847 !important;
}
#order_form section .s_content textarea,
#order_form section .s_content input[type="email"],
#order_form section .s_content input[type="text"]{
    width: 100%;
    margin-bottom: 15px;
    padding: 4.8px 10px;
    background-color: #F0EAE8;
    border: 1px solid #F0EAE8;
}
#order_form .btn-light{
    background-color: #F0EAE8;
    border: 1px solid #F0EAE8;
    border-radius: 0px;
}
#order_form span.delivery_date_wrap,
#order_form span.time_wrap,
#order_form span.delivery_time_wrap{
    position: relative;
    display: block;
}
#order_form span.delivery_date_wrap:after,
#order_form span.time_wrap:after,
#order_form span.delivery_time_wrap:after{
    display: inline-block;
    font-family: "Font Awesome\ 5 Free";
    font-size: 18px;
    position: absolute;
    top: 4px;
    right: 10px;
}
#order_form span.delivery_date_wrap:after{
    content: '\f073';
}
#order_form span.time_wrap:after,
#order_form span.delivery_time_wrap:after{
    content: '\f017';
}

#order_form section .s_content textarea{
    max-height: 90px;
}
#order_form .order_content .oc_header{
    font-size: 24px;
    margin-bottom: 10px;
    font-family: Georgia;
}
#order_form .order_content .oc_text p{
    margin-bottom: 8px;
    font-family: Proxima;
}
/*projects*/
#projects .grid-item{
    width: 50%;
}
#projects .gitem{
    padding: 33px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 15px;
}
#projects .gitem .header{
    font-family: Proxima;
    font-size: 55px;
    color: #182847;
    margin: 20px 0;
    line-height: 1;
    z-index: 50;
}
#projects .gitem .description{
    font-family: Proxima;
    font-size: 24px;
    color: #99999b;
    margin: 20px 0;
    margin-bottom: 31px;
}
#projects .gitem .img{
    position: relative;
}
/*#projects .gitem .img:after{
    content: '';
    display: block;
    position: absolute;
    bottom: -30px;
    background-image: url('/img/projects_u.png');
    background-position: center center;
    background-repeat: no-repeat;
    width: 55px;
    height: 186px;
    z-index: 1;
}
#projects .grid-item:nth-child(even) .gitem .img:after{
    left: initial;
    right: 20px;
}
#projects .grid-item:nth-child(odd) .gitem .img:after{
    right: initial;
    left: 20px;
}*/
#projects .grid-item .more_btn{
    margin-bottom: 27px;
}
#project_one_content h3 br{
    display: none;
}
#project_one_content h3{
    font-family: Proxima;
    font-weight: 600;
    font-size: 30px;
    color: #182847;
    margin-bottom: 20px;
    margin-top: 40px;
    width: 100%;
    display: block;
}

#project_one_gallery {
    letter-spacing: -4px;
    font-size: 0;
}

#project_one_gallery .gallery_item{
    overflow: hidden;
}

#project_one_gallery .gallery_item span{
    display: block;
    padding: 15px 0;
    height: 100%;
}
/* #project_one_gallery .gallery_item:nth-child(1),
#project_one_gallery .gallery_item:nth-child(6),
#project_one_gallery .gallery_item:nth-child(7),
#project_one_gallery .gallery_item:nth-child(12),
#project_one_gallery .gallery_item:nth-child(13),
#project_one_gallery .gallery_item:nth-child(18),
#project_one_gallery .gallery_item:nth-child(19),
#project_one_gallery .gallery_item:nth-child(24),
#project_one_gallery .gallery_item:nth-child(25){
    width: 50% !important;
} */
#project_one_gallery img{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

/*Weddings*/
#video_bg{
    position: relative;
    width: 100%;
    background: #1b2a48;
    background-image: url("../img/weddings_bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 0;
    overflow: hidden;
}
#video_bg video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-image: url("../img/weddings_bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: 1s opacity;
    z-index: 10;
}
#video_bg #video_btn{
    position: absolute;
    bottom: 90px;
    left:50%;
    margin-left: -18px;
    z-index: 500;
    height: 60px;
}
#video_bg i{
    position: absolute;
    left: 30px;
    top: 200px;
    font-size: 35px;
    color: #1b2a48;
    z-index: 1000;
    text-shadow: 0px 0px 7px  #fff;
    cursor: pointer;
}
#video_bg i+i{
    top: 270px;
}
#video_bg i:hover{
    color: #fff;
    text-shadow:  0px 0px 2px #1b2a48;
}
#video_btn.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#video_btn.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

#video_btn.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

#video_bg + #wedding_design{
    padding-top: 50px;
}
#wedding_design h1{
    margin-bottom: 40px;
}
#wedding_design .wedding_item{
    height: 320px;
    height: 100%;
    margin-bottom: 40px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#wedding_design .wedding_item h3{
    font-family: Proxima;
    font-size: 32px;
    color: #182847;
    margin-bottom: 30px;
}
#wedding_design .wedding_item .item_text_w{
    padding: 30px;
    position: relative;
    font-family: Proxima;
}
#wedding_design .wedding_item .item_img * {
    display: block;
    height: 100%;
}
#wedding_design .wedding_item img.wedding_item_img{
    object-fit: cover;
}
#wedding_design .wedding_item .item_text_w{
}
#wedding_design .wedding_item .more_btn{
    margin-top: 30px;
}
#projects .grid{
    margin-left: -10px;
}
#projects_block{
    margin: 80px 0;
    padding: 60px 0;
    background-image: url("../img/bg_project.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
#projects_block .header{
    font-family: Proxima;
    font-size: 50px;
    line-height: 1;
    color: #c7b3b2;
}
#projects_block a{
    margin-top: 30px;
    background-color: #EFE3E1;
    box-shadow:  2px -2px 0 #C7B3B2;
}
#projects_block a:hover{
    background-color: #C7B3B2;
    box-shadow:  2px -2px 0 #EFE3E1;
    color: #fff;
}
#wedding_design .content{
    font-size: 18px;
    font-family: Proxima;
    color: #99999b;
    padding-bottom: 80px;
}
#wedding_design .content h3{
    font-family: Georgia;
    color: #182847;
    font-size: 30px;
    margin-bottom: 20px;

}
#c_contacts{
    padding: 60px 0;
    text-align: center;
    background-color: #FFF8F8;
}
#c_contacts .header{
    font-family: Georgia;
    font-size: 32px;
    color: #182847;
    line-height: 1;
    margin-bottom: 8px;
}
#c_contacts form{
    width: 80%;
    max-width: 740px;
    margin: 0 auto;
}
#c_contacts form input{
    display: block;
    border: none;
    border-bottom: 1px solid #99999B;
    padding: 12px 0;
    font-family: Proxima !important;
    color: #b6b6b7;
    font-size: 18px;
    width: 100%;
    background: transparent;
    outline: none !important;
    margin-bottom: 16px;
}
#c_contacts form button{
    margin-top: 30px;
    background-color: #EFE3E1;
    box-shadow:  2px -2px 0 #C7B3B2;
}
#c_contacts form button:hover{
    background-color: #C7B3B2;
    box-shadow:  2px -2px 0 #EFE3E1;
    color: #fff;
}
.header_bg_line,
#wedding_design_line{
    height: 22px;
    background-color: #F0EAE8;
}
.subscribe_page #content_section,
.wedding_page #content_section{
    padding-bottom: 60px;
}

/*.subscribe_page*/
#subscribe_slider{
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-bottom: 60px;
}
#subscribe_slider .carousel-indicators li{
    width: 11px;
    height: 11px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}
#subscribe_slider .carousel-indicators li.active{
    background-color: #1B2A49;
    border-color: #1B2A49;
}
#subscribe_slider .carousel-caption{
    position: absolute;
    top: 60px;
    left: 0px;
    bottom: auto;
    width: 50%;
    background-color: rgba(20,30,81,0.7);
    padding: 26px 80px;
    font-family: Proxima;
    font-size: 40px;
    line-height: 1;
}
/*#subscribe_slider .carousel-caption:before{
    display: block;
    position: absolute;
    content: '';
    width: 55px;
    height: 120px;
    background-image: url("../img/subscribe_slider_uz.png");
    top: -30px;
    left: 20px;
}*/
#subscribe_sizes{
    margin: 60px 0;
}
#subscribe_sizes .size_item{
    display: block;
    padding: 40px;
    outline: 2px solid rgba(255,255,255,0.8); /* Пунктирная рамка */
    outline-offset: -18px; /* Выводим рамку внутри элемента */
    background-color: #D5D0CD;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
}
#subscribe_sizes .size_item_wrapper.active .size_item,
#subscribe_sizes .size_item.active,
#subscribe_sizes .size_item:hover{
    background-color: #1B2A49;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#subscribe_sizes .size_item .size{
    text-transform: uppercase;
    font-size: 48px;
    font-family: Georgia;
}
#subscribe_sizes .size_item .size_label{
    font-size: 24px;
    font-family: Proxima;
    margin-bottom: 20px;
}
#subscribe_sizes .size_item .size_desc{
    font-size: 24px;
    font-family: Proxima;
    text-transform: lowercase;
}
#calendar{
    margin-bottom: 60px;
}
#calendar .content_img{
    margin-top: 10px;
    margin-bottom: 40px;
}
#calendar .content_img img{
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 100%;
}
#calendar .content_text{
    margin-bottom: 30px;
}
#calendar .content_text h3{
    font-family: Georgia;
    font-size: 32px;
    margin-bottom: 20px;
}
#calendar #stages{
    margin: 60px 0;
    width: 100%;
    margin-bottom: 10px;
}
#calendar .content_text p{
    font-family: Proxima;
}
#calendar #order_form h3,
#calendar #stages h3{
    font-family: Georgia;
    font-size: 32px;
    color: #182847;
    margin-bottom: 60px;
}
#calendar #stages .stage_item{
    margin-bottom: 50px;
}
#calendar #stages .stage_item .n{
    position: absolute;
    top: -50px;
    left:0px;
    line-height: 1;
    font-family: Georgia;
    font-size: 100px;
    color: #182847;
}
#calendar #stages .stage_item .s_desc{
    margin-left: 50px;
}
#calendar #stages .stage_item .n:after{
    display: none;
    position: absolute;
    right: 0px;
    bottom: -57px;
    content: '';
    background-image: url('../img/stages_u.png');
    width: 23px;
    height: 77px;
    z-index: -5;
}
#calendar #stages .stage_item .header{
    font-family: Proxima;
    line-height: 1;
    font-size: 32px;
    color: #182847;
    margin-bottom: 20px;
}
#calendar #stages .stage_item .size_desc{
    font-family: Proxima;
    font-size: 18px;
    color: #99999b;
}
#calendar #order_form .s_header{
    font-family: Proxima;
    line-height: 1;
    font-size: 30px;
    color: #182847;
    margin-bottom: 20px;
}
#calendar #subscribe_sizes{
    margin: 20px 0;
    width: 100%;
}
#calendar #subscribe_sizes .size_item{
    cursor: pointer;
}
#calendar .slick-prev:before,
#calendar .slick-next:before{
    display: none;
}
#calendar .slick-prev,
#calendar .slick-next{
    width: 12px;
    height: 21px;
    background-position: center center;
}
#calendar .slick-prev{
    background-image: url('../img/arrow_left.png');
    left: -10px;
}
#calendar .slick-next{
    background-image: url('../img/arrow_right.png');
    right: -10px;
}

#calendar .bouquets_slider{
    display: none;
}
#calendar .bouquets_slider.active{
    display: block;
}
#calendar .bouquets_slider .product_item_slide{
    outline: none;
}
#calendar .bouquets_slider .product_item{
    padding: 0px;
    margin: 20px;
    text-align: center;
    border: 1px solid #E5E5E5;
}
#calendar .bouquets_slider .product_item img{
    max-height: 210px;
    object-fit: cover;
    width: 100%;
    cursor: pointer;
}
#calendar .bouquets_slider .product_item:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#calendar .bouquets_slider .product_item .p_name{
    font-family: Proxima;
    font-size: 24px;
    color: #182847;
    margin: 20px 0;
}
#calendar .bouquets_slider .product_item span{
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px 18px;
    border: 1px solid #182847;
    box-shadow: 3px -3px 0 #182847;
    cursor: pointer;
}
#calendar .bouquets_slider .product_item.active{
    background-color: #1B2A49;
}
#calendar .bouquets_slider .product_item.active .p_name,
#calendar .bouquets_slider .product_item.active span{
    color: #fff !important;
}
#calendar .bouquets_slider .product_item.active span{
    border: 1px solid #fff;
    box-shadow: 3px -3px 0 #fff;
}

#upload_photo_form .modal-body,
#buy_one_click_modal .modal-body{
    padding: 40px;
}
#buy_one_click_modal .form-control{
    border-radius: 8px;
}
#buy_one_click_modal .form-control input{
    color: #1b2a48;
}
#buy_one_click_modal.modal button[type=submit]{
    margin-top: 40px;
}
.read_more_content{
    display: none;
}
.page-content{
    overflow: visible !important;
    height: auto !important; 
}
.swal-button{
    font-family: Proxima;
    font-size: 18px;
    color: #fff;
    min-width: 176px;
    height: 36px;
    line-height: 26px;
    background-color: rgba(27, 42, 72, 1);
    width: 176px !important;
    margin: 0 auto;
    padding: 0px;
    cursor: pointer;
    margin-bottom: 15px;
}
.swal-button:hover{
    background-color: rgba(27, 42, 72, 0.7);
}
.swal-footer{
    text-align: center;
}
#step3{
    margin-top: 20px;
    text-align: left;
}
#step3 h2, #step3 p{
    text-align: left !important;
}
#cart-page h1{
    margin-top: 70px;
    margin-bottom: 50px;
}
#payment_status{
    margin: 50px auto 0; 
}