/*Roboto*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic,cyrillic-ext,latin-ext');
@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}
/*PlayfairDisplay*/
@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'PlayfairDisplay-Black';
    src: url('../fonts/PlayfairDisplay-Black.ttf') format('truetype');
}
/*Lato*/
@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/Lato-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Heavy';
    src: url('../fonts/Lato-Heavy.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-HeavyItalic';
    src: url('../fonts/Lato-HeavyItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Medium';
    src: url('../fonts/Lato-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Semibold';
    src: url('../fonts/Lato-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Thin';
    src: url('../fonts/Lato-Thin.ttf') format('truetype');
}
/*Proxima Nova*/

@font-face {
font-family: 'Proxima';
src: url('../fonts/ProximaNova-Regular.eot');
src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNova-Regular.woff') format('woff'),
url('../fonts/ProximaNova-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}

/* Georgia */

@font-face {
font-family: 'Georgia';
src: url('../fonts/Georgia-Italic.eot');
src: url('../fonts/Georgia-Italic.eot?#iefix') format('embedded-opentype'),
url('../fonts/Georgia-Italic.woff') format('woff'),
url('../fonts/Georgia-Italic.ttf') format('truetype');
font-weight: 400;
font-style: italic;
}