@media all and (max-width: 1920px){
    .container {
        max-width: 1200px;
    }
}
@media all and (min-width: 1200px) and (max-width: 1920px){
    #product .right-side{
        padding-left: 40px;
        margin-top: 24px;
    }
}
@media all and (max-width: 1200px){
    .container {
        max-width: 1170px;
    }
    header #menu_line{
        padding-top: 4px;
    }
    #params_menu{
        margin-top: 10px;
    }
    section#blog .item_text h3{
        font-size: 20px;
    }
    section#blog .item_text span, section#blog .item_text p{
        font-size: 14px;
    }
    section#blog .item_text{
        padding: 15px;
    }
    section#blog .blog_item .blog_img,
    section#blog .blog_item{
        height: 218px;
    }
    aside#categories ul li{
        width: 94%;
    }
    #content_section #container, .blog #content_section section#blog{
    	padding: 0;
    }
    section#blog{
    	padding: 30px 0;
    }
    section#blog h2{
    	margin-bottom: 30px !important;
    }
    #content_section{
    	padding-bottom: 60px;
    }
    section#main_content{
    	padding-top: 30px;
    }
    #home_slider .carousel-caption{
        padding: 0 15px;
    }
}
@media all and (min-width: 992px) and (max-width: 1048px){
    #site_menu{
        display: none !important;
    }
    #site_menu_mobile{
        display: inline-flex!important;
    }
}
@media all and (max-width: 992px){

    section#catalog .item_product .name span{
        font-size: 22px !important;
        text-align: center;
    }
}
@media all and (max-width: 768px){
    section#blog .blog_item{
        height: 360px;
    }
    #catalog{
        margin-top: 30px;
    }
    #checkout-step #step3 h2,
    #checkout-step #step3 p,
    #checkout-step #payment_status,
    #checkout-step #step3 h3{
        text-align: center;
        width: 100%;
    }
    #projects .grid-item{
        width: 100%;
    }
    #wedding_design .wedding_item img.wedding_item_img{
    }
    #subscribe_slider .carousel-caption:before{
        display: none;
    }
    #subscribe_slider .carousel-caption{
        top: 30px;
        font-size: 20px;
        padding: 20px 30px;
    }
    #c_contacts{
        padding-bottom: 128px;
    }
    .page #content_section .content  img{
        height: auto !important;
    }

    #product #payment button{
        margin-bottom: 20px;
    }
}
@media all and (max-width: 680px){
    #home_slider .carousel-caption{
        width: 100%;
        padding: 20px 10px;
    }
    #home_slider .carousel-caption .link:after,
    #home_slider .carousel-caption .title:before{
        display: none !important;
    }
    #home_slider .carousel-caption .title{
        display: block;
        font-size: 1.9rem;
        padding-top: 25%;
        padding-bottom: 0;
    }
    #home_slider_arrows{
        display: block;
        position: absolute !important;
        top: 300px;
        z-index: 50;
    }
    #home_slider .carousel-caption .link{
        font-size: 1rem;
    }
    section#blog .blog_item{
        height: auto;
    }
    section#blog .blog_item .item_text span,
    section#blog .blog_item .item_text h3{
        text-align: center;
    }
    footer #phones{
        padding: 14px 0;
    }
    footer #phones span{
        display: block;
        line-height: 1.1em;
        vertical-align: middle;
    }
    .shop #content_section #container{
        padding-bottom: 120px;
    }

    .home footer.scroll,
    footer{
        position: inherit;
    }
    #calendar .slick-next,
    #calendar .slick-prev{
        z-index: 500;
    }
    #calendar .slick-next{
        right: 5px;
    }
    #calendar .slick-prev{
        left: 5px;
    }
    .page #content_section img{

    }
    #home_slider .carousel-caption .link{
        margin-top: 0;
    }
}
@media all and (max-width: 667px){

    #subscribe_slider .carousel-caption{
        top: 10px;
        font-size: 16px;
        padding: 10px;
    }

}
@media all and (max-width: 574px){
    #site_menu_mobile{
        margin-right: 5px;
    }
    #params_menu{
        margin-top: 0;
    }
    header{
        padding: 5px;
    }
    #site_menu_mobile ul{
        top: 13px !important;
    }
    header #menu_line{
        padding-top: 8px;
    }
    #menu_block,
    #logo_block{
        text-align: center !important;
    }
    #site_menu_mobile{
        margin-bottom: 8px;
    }
    header #menu_line{
        justify-content: center;
        margin-top: 10px;
    }
    .home header:not(.scroll){
        height: auto;
    }
    header:not(.scroll) #logo_block:before{
        display: none;
    }

}
@media all and (max-width: 460px){
    #params_menu > li, #site_menu > li{
        padding: 0px 8px;
    }
    #home_slider .carousel-indicators{
        text-align: center;
        justify-content: center;
    }
    #product #payment{
        margin-top: 80px;
    }
    #product #payment #count_box{
        position: relative;
        /*top: -164px;*/
        top: -140px;
    }
    #cart table .name, #cart table .quantity, #cart table .price{
        padding: 0 8px;
    }
    #cart table td.price{
        font-size: 14px;
    }
    #cart table td.name *{
        font-size: 11px;
    }
    #cart table .photo{
        display: none;
    }
}
