.ajax-file-upload-filename {
width: 300px;
height: auto;
margin: 0 5px 5px 0px;

}

.ajax-file-upload-filesize {
width: 50px;
height: auto;
margin: 0 5px 5px 0px;
display: inline-block;
vertical-align:middle;
}
.ajax-file-upload-progress {
margin: 5px 10px 5px 0px;
position: relative;
width: 250px;
border: 1px solid #ddd;
padding: 1px;
border-radius: 3px;
display: inline-block;
color:#FFFFFF;

}
.ajax-file-upload-bar {
background-color: #0ba1b5;
width: 0;
height: 20px;
border-radius: 3px;
color:#FFFFFF;

}
.ajax-file-upload-percent {
position: absolute;
display: inline-block;
top: 3px;
left: 48%
}
.ajax-file-upload-red {
-moz-box-shadow: inset 0 39px 0 -24px #e67a73;
-webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
box-shadow: inset 0 39px 0 -24px #e67a73;
background-color: #e4685d;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
display: inline-block;
color: #fff;
font-family: arial;
font-size: 13px;
font-weight: normal;
padding: 4px 15px;
text-decoration: none;
text-shadow: 0 1px 0 #b23e35;
cursor: pointer;
vertical-align: top;
margin: 5px 10px 5px 0px;
}
.ajax-file-upload-green {
background-color: #77b55a;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
margin: 0;
padding: 0;
display: inline-block;
color: #fff;
font-family: arial;
font-size: 13px;
font-weight: normal;
padding: 4px 15px;
text-decoration: none;
cursor: pointer;
text-shadow: 0 1px 0 #5b8a3c;
vertical-align: top;
margin: 5px 10px 5px 0px;
}

.ajax-upload-dragdrop
{

	border:2px solid #F5F5F5;
	width:420px;
	color: #DADCE3;
	text-align:left;
	vertical-align:middle;
	padding:10px;
}

.ajax-upload-dragdrop span{
	padding-left: 10px;
}

.state-hover
{
		border:2px solid #A5A5C7;
}
.ajax-file-upload-container
{
	margin:20px 0px 20px 0px;
}

/*Custom*/

#additional-images {
	overflow: hidden;
}

#additional-images > div {
	height: 60px !important;
	float: left;
	position: relative;
	margin: 0.5px;
}

#additional-images > div img {
	height: 60px !important;
	display: block;
}

#additional-images > div img.ajax-file-upload-preview{
	opacity: 0.6;
}

#additional-images > div img.loaded{
	opacity: 1;
}

#additional-images > div input {
	display: none;
}

#additional-images .ajax-file-upload-filename{
	display: none !important;
}

#additional-images .ui-state-highlight {
	width: 60px;
	height: 60px;
	border: 1px solid #E4E4E4;
	background: #F5F5F5;
}

#additional-images .del {
	position: absolute;
	text-decoration: none;
	display: none;
}

#additional-images > div:hover .del {
	display: inline-block;
	color: red;
	z-index: 1;
}

#additional-images .ajax-file-upload-progress {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
	border-radius: 0;
	border: 0;
}

#additional-images .ajax-file-upload-bar{
	border-radius: 0;
	height: 5px;
	background-color: #3C8DBC;
}