/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox *{
border: none;
}

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

#cboxOverlay{background-color: rgba(0,0,0, 0.9);}

    #cboxContent{margin-top:20px;}
        .cboxIframe{background:rgba( 0, 0, 0, 0.7);}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{/* border:5px solid #000; */ background:#fff;}
        #cboxTitle{position:absolute; bottom:-50px; left:0; color:#ccc;padding: 10px;font-size: 120%;background-color: rgba( 0, 0, 0, 0.5);}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; opacity: 0.5; top:50%; left:-60px; margin-top:-82px; background: transparent url(images/arrows.png) no-repeat top left; width:41px; height:166px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:bottom left; opacity: 1;}
        #cboxNext{position:absolute; top:50%; right:-60px; margin-top:-82px; background:url(images/arrows.png) no-repeat top right; width:41px; height:166px; text-indent:-9999px;opacity: 0.5;}
        #cboxNext:hover{background-position:bottom right; opacity: 1;}
        #cboxLoadingOverlay{background:#000;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; top:15px; right:5px; display:block; background:url(images/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
        #cboxClose:hover{background-position:bottom center;}